[2012-12-14 09:10] joaocmendonca opened #6 "create an install page (e.g. setup instruction on linux debian)"
Hey folks,

I hope you don't mind me to create a install page, containing instructions on how to setup a linux debian machine to run the project, e.g. which packages must be installed, etc.

Regards
Joao

[2013-05-22 10:21] errzey opened #10 "Huge memory leak."
You're using mongodb.

[2014-11-19 19:24] #6 closed, assigned to nobody

[2014-11-28 19:51] #10 closed, assigned to nobody

[2015-01-29 09:10] adulau opened #26 "Initial import issue"
Received a report from a user having an issue:

[code]

[2015-02-04 15:13] adulau commented on #26
Fixed in #66c8de84a8fb8ea4cefe66a40ff868cb94ee00a5

[2015-02-04 15:13] #26 closed

[2015-02-20 07:50] adulau opened #32 "Adding vulnerabilities where CVE id are not assigned"
There are other vulnerability database that we could import into cve-search but those vulnerabilities have often no CVE id assigned (temporary or perpetually) . We should find a clean way to import those and reference back the vulnerabilities (to CPE as an example) even if there is no CVE id.

The idea is to build a new collection where the vulnerabilities without CVE id are imported but reference

[2015-02-20 08:18] PidgeyL commented on #32
Could you please give some example sources? Then I can also take a look at it. Thanks

[2015-02-20 09:09] adulau opened #34 "Bulk update - issue with update on vendor database"
[code]

[2015-02-21 15:36] adulau commented on #34
Fixed by @PidgeyL  Thank you.

[2015-02-21 15:36] #34 closed

[2015-02-26 14:40] adulau opened #39 "blacklistitems = getBlackRules() - getBlackRules defined where?"
When cleaning up the code, we were wondering where getBlackRules is defined... Maybe it's a dead part of the code. @PidgeyL  Thank you.

[2015-02-26 15:41] PidgeyL commented on #39
I saw that as well today, I fixed the issue. please pull my repo

[2015-02-26 15:47] PidgeyL opened #41 "pymongo.errors.OperationFailure: database error: Regular expression is too long"
When the blacklist grows too much, the regex becomes too long for mongo to handle.

[2015-02-26 16:39] adulau commented on #39
Cool, thank you! It's merged.

[2015-02-26 16:39] #39 closed

[2015-03-02 12:46] PidgeyL opened #43 "CPE format"
formalizing the CPE format would allow for whitelisting of target software/hardware or other tags, which can be very useful. Example:

(1) WFN:
[code]
(2) WFN bound to a URI:
```cpe:/o:microsoft:windows_vista:6.0:sp1:~-~home_premium~-~x64~- ```
(3) WFN bound to a formatted string:
```cpe:2.3:o:microsoft:windows_vista:6.0:sp1:-:-:home_premium:-:x64:-  ```
(4) Current Format (WFN URI-like notation):

[2015-03-02 13:00] adulau commented on #43
If I remember correctly the URI notation was only there for backward compatibility with CPE 2.2 format which is used by a lot of existing software. The formatted string seems indeed the most appropriate especially that can easily translation (3) to (4).  Maybe a small test could be built to see what's the impact on the regexp search is.  But (3) seems the most versatile one.

[2015-03-02 14:37] PidgeyL commented on #43
I don't think the impact will be that severe, but as I want to add the possibility to add target hardware or software to black/whitelists (for example all software for android), it would be good deciding on this first, before I create my work-arounds

[2015-03-04 12:44] PidgeyL opened #45 "Get partial CVSS score in the database as well"
I am concidering importing the partial cvss score (impact and exploit) into the database. It is not in our NVD Source list, but it is in vFeed.
I would like a second opinion on the implementation of this:
 * Do I add this information to the collection cves (so adding to that data) or to vFeed? These scores are part of the cve, but I think we should not tamper with that list. Adding it to vFeed wil

[2015-03-04 13:20] adulau commented on #45
I would really avoid to mix vFeed data with the rest. The vFeed license is not very clear and I would like to avoid to have any dependencies on vFeed. Especially based on my past experience with the osvdb license...

The best would be to update db_mgmt.py as the parsing for the cvss:base_metrics is already parsed but not inserted in MongoDB. We would need to update the cves collection to add an ar

[2015-03-04 13:52] PidgeyL commented on #45
That information is already available in the database, I added that a few weeks ago. I'm talking about the score. For example, CVE-2011-1180 has a CVSS Base score of 7.5, CVSS Impact score of 6.4 and CVSS Exploit code of 10.0. This info, you can't find (or there is no such info in the 2015 xml) in that xml. But you can find it in the vFeed sqlite database

[2015-03-04 14:02] adulau commented on #45
Sorry I was talking about how to get the base metric value... So we would need to build the CVSS base score calculator at the import? or we could do the calculation in the library when getting the CVE?

[2015-03-04 14:16] PidgeyL commented on #45
We could calculate it dynamically as well, if I find the formulla. Then the question would be, do we save it in the database at import, or do we calculate it at display time?

[2015-03-04 14:34] adulau commented on #45
The formula is in the CVSS guide: http://www.first.org/cvss/cvss-guide.html

At the Import, it would be nice as the values seem fixed.

[code]

[2015-03-04 14:38] PidgeyL opened #47 "Adding OVAL to database?"
Should we add OVAL (Open Vulnerability and Assessment Language)information to the database?
(http://oval.mitre.org/)

An example can be found below. Your thoughts?
@adulau @wimremes

[code]

[2015-03-04 14:39] PidgeyL commented on #45
Very well, I'll take a look at this. I don't seem to have the ability to add labels or assignees, but I'll put it on my to-do list

[2015-03-04 14:51] adulau commented on #47
I remember a discussion about it but we couldn't find a use case. Do you see a direct use case for OVAL in cve-search?

[2015-03-04 15:06] PidgeyL commented on #47
From how I understand it, this information can be used to determine if you are vulnerable for a specific CVE or not. It looks to me that, for example, just having an outdated version of some product does not necessarily mean you are vulnerable, as long as it's not on platform x. I could be wrong, or there might be better ways, that's why I'm asking your opinions

[2015-03-04 15:11] adulau opened #48 "AttributeError: 'str' object has no attribute 'items' - on some CVE"
http://127.0.0.1:5000/cve/CVE-2014-5760
[code]

@PidgeyL Could you reproduce the bug?

[2015-03-04 15:24] PidgeyL commented on #48
No, I don't. Have you updated your database? The database has undergone some changes, especially there. That's most likely the issue.

[2015-03-04 15:32] adulau commented on #47
If the platform is perfectly matching the CPE, it should be fine (as long as the OVAL definitions are updated).

[2015-03-04 15:38] adulau commented on #48
So that means for existing users they would need to drop the collections and start the import. Maybe we should document it. I'll do some tests.

[2015-03-04 15:38] PidgeyL commented on #47
So we assume that if a vulnerability is only applicable for, let's say, MongoDB on RedHat 4, the CPE will include RedHat4 as target software?

[2015-03-04 15:41] PidgeyL commented on #48
I also thought it would be a good idea to document it, but how/where? Lately I've been working a lot on database changes (there will be another one with the updated CPE format soon), so keeping a list of updates would soon grow very large. Any suggestions?

[2015-03-04 15:47] adulau commented on #48
Maybe I should update the overall db_updater script to add an option to drop everything and reimport back the whole external datasets? If this is ok, I'll add it. Then we could update the doc to mention this option and add in the commit log when it's required to do it.

[2015-03-04 15:47] PidgeyL commented on #48
okay, sounds good to me

[2015-03-05 09:54] PidgeyL commented on #43
I thought I had solved the problem, until I saw this:

cpe:/o:microsoft:windows_8:-:-:x64
cpe:/o:microsoft:windows_8.1:-:-:~-~-~-~x64~

The second one woudl be parsed correctly, the first one, however, would have the x64 field as the "Edition" field. Would this be a problem, because in the current format, it's also "wrong"?

[2015-03-05 10:01] adulau commented on #43
Do you mean that the initial import of CPE is broken? If I remember correctly, it's just coming directly from the XML value without modification.

As long we don't break the vendor and product search which should be fixed in all the notation, we are fine. I would just need to fix cve-portal and the notification part (not a big deal). Let me know if you see something else.

[2015-03-05 10:08] PidgeyL commented on #43
It's not our import that's "broken", it's how it's in the NVD. It will not create an issue anywhere in the working of CVE-Search, I'm just not happy with "bogus data". Though there is not much we can do about this. I'll leave this be for now. I'll add a comment in the translation script, in case of future errors caused by this

[2015-03-05 10:12] adulau commented on #43
Maybe we should inform MITRE about it.

[2015-03-05 10:35] PidgeyL commented on #43
Okay, that's fine for me. Will you do it, or do I send the mail?

[2015-03-05 12:05] PidgeyL commented on #43
Also, would you prefer the database contain the CPE's in the format:
[code]
or
[code]
which is the auto-filled version? I'm talking about the vulnerable_config in the cves collection, and the cpe collection

[2015-03-05 13:15] adulau commented on #43
The best would be to keep is to the original format as encoded in the XML. Cheers.

[2015-03-05 13:56] PidgeyL commented on #43
So then I'd have to effectively constantly switch between the two formats (translate every CPE to the newer format), every time I'm working with CPE's? Because the new format would allow for filtering on target hard- and software (very useful for things like "give me all the android applications").

[2015-03-06 10:48] PidgeyL commented on #45
Calculated dynamically, in case Impact or Exploitability get updated

[2015-03-06 10:48] #45 closed

[2015-03-06 10:58] adulau commented on #48
Fixed in 069b3b7e45a262a5f29c503abe0896279f938f86

[2015-03-06 10:58] #48 closed

[2015-03-06 10:59] #47 closed

[2015-03-06 14:31] PidgeyL commented on #43
Do I store the new CPE in another field in the cves/cpe collection?

[2015-03-06 14:38] adulau commented on #43
Just wondering, the old format you were already able to filter per the part component (h,o or a).

I think having a new field in the collections for the CPE format 2.3 would be better.

[2015-03-06 14:44] PidgeyL commented on #43
Yes, but I mean target_sw and target_hw (see (1) ), not part

I'll put it in another field

[2015-03-06 14:51] adulau commented on #43
Sorry, I got it. the target element... not the part element.

Perfect for the other field.

[2015-03-09 08:31] PidgeyL commented on #43
is this okay?:

[code]

[2015-03-09 09:07] adulau commented on #43
Looks good. maybe old should be renamed by cpe_2_2?

[2015-03-09 09:18] PidgeyL commented on #43
okay, sure. When that's ready, I'll create a pull request with the changes. How do we notify that a database drop and refil is recommended (partial drop will suffice, only cves, cpe, cpeother mgmt_blacklist and mgmt_whitelist are affected)

[2015-03-09 10:24] adulau commented on #43
notification script is also affected (stored in Redis).

[2015-03-16 08:46] #43 closed

[2015-03-16 08:49] PidgeyL opened #53 "API features"
Should we integrate all the features from CVE-Search into the API? With this, I mean features like
 * Translating CPEs from 2.2 to 2.3
 * pull vFeed info using CVE-Search
 * etc ...

[2015-03-16 08:52] adulau commented on #53
Sure. That's the idea. Ranking and vFeed could be an option in the lookup.

[2015-03-17 09:27] adulau opened #55 "Web interface without admin interface (read-only)"
Adding an option to not have any admin interface or write-access to the database on the web interface.

Two updates need to be done:

 - routing in Flask should be updated to enable/disable the URL path for such part
 - template should be updated to not include any reference of the disabled URL paths

What do you think @PidgeyL ?

[2015-03-17 09:37] PidgeyL commented on #55
If you turn on the login, and leave the database empty, people will not be able to log in. Only logged in users can perform changes. I don't think this should be a problem.

[2015-03-17 10:08] adulau commented on #55
This works but I would like to get rid of the non-used url paths (as a security measure) to avoid exposing code that we don't need for public services. I would like to remove the option box for the black/white-list parts.

Do you mind if I add an option for the web interface:

Minimal: True

and update the code to check the option and disable the unnecessary parts when minimal is active.

Cheers

[2015-03-17 10:16] PidgeyL commented on #55
I do not mind, but I have a feeling that having checks all over the code might become messy. Maybe make a "minimal" branch of cve-search? Or how would you do it, within the code?

[2015-03-17 10:21] adulau commented on #55
Indeed, I just checked and that's a lot of test-case. Maybe I'll do a minimal index.py and move some of the functions in the library.

[2015-03-18 11:59] PidgeyL commented on #55
Just a question, why did you remove the search option in the minimal version? Also, the logo doesn't quite fit in the menu. Do I fix this?

[2015-03-18 13:30] adulau commented on #55
I asked 3 users, they all tried to do cpe search in the form... So until we have a full-blown cpe search in the form, I preferred to remove it in the minimal version. Until now, they can use the browse functionality.

The logo should be a bit over to have the corner outside. So it's by design ;-)
If you see something else, let me know. (I sent you a private email with a test temporary url)

[2015-03-19 08:04] PidgeyL commented on #55
Would you also make an "api only" script? or a way to disable the web pages in the minimal?

[2015-03-19 09:40] PidgeyL opened #56 "XMPP issue?"
I found a weird issue with the XMPP client. When I use a command that accesses the API, I get no return. I put some prints in there to see where it stops, and I couldn't quite find it. The api searcher returns the CVE (when i use get) all the way up to `def message`, but I get no return. I'm using ejabberd. Can you reproduce this issue? @adulau

[2015-03-19 09:50] PidgeyL opened #57 "IRC bot for CVE-Search"
I would like to make an IRC bot for CVE-Search. Do I make this within CVE-Search, like the XMPP client, or do I make this a separate project?

[2015-03-19 12:10] adulau commented on #57
It's a query interface just like the vty or the XMPP bot. It could be part of cve-search.

[2015-03-19 12:35] adulau commented on #56
Works for me. You can make some test with the one I sent privately to you.  Don't forget that a lot of XMPP servers have limitation on the size of the message to send/receive.

[2015-03-19 13:26] PidgeyL commented on #56
I've been thinking about that as well, but then shouldn't we try to figure out what the max size is, and send the data in chunks?

[2015-03-20 08:08] PidgeyL opened #58 "Structure"
Should we put the query interfaces (XMPP bot, IRC bot, API, searcy.py, dump_last.py, ...) in a different folder or not? Would it be a good idea to split database scripts (back end) from the interfaces (front end)?

[2015-03-20 08:57] adulau commented on #58
why not. /bin and /sbin? or /server /client ?

[2015-03-20 09:01] PidgeyL commented on #58
I think the first would be better. Would bin be back- or front-end then?

[2015-03-20 09:09] adulau commented on #58
bin -> front-end
sbin > back-end

if looks good for you.

[2015-03-20 10:47] PidgeyL commented on #58
Sure. Would db_ranking.py be concidered bin or sbin? I'd say sbin, what's your opinion?

[2015-03-20 11:09] adulau commented on #58
sbin ;-)

[2015-03-23 15:44] #57 closed

[2015-04-09 13:38] rlintu opened #62 "ZeroDivisionError in ProgressBar"
If the length of the collection is zero then there is ZeroDivisionError.
I faced this issue in db_mgmt_cpe_other_dictionary.py when updating
the database.
On line 67 it is checked that list(collections) is not empty.
It seems, however, that the length may be still be 0.
I do not know whether the proper correction is to add testing of
zero length. Anyway, it removed the ZeroDivisionError.

Br,
Rain

[2015-04-09 13:39] PidgeyL commented on #62
Thanks for the remark, I will fix this shortly

[2015-04-09 14:20] adulau commented on #62
I fixed with the check when the list is None but indeed if the value is 0 we still have the division per zero. I suppose this only happens for the initial import when comparing an empty cpeother collection.

[2015-04-09 14:22] PidgeyL commented on #62
I fixed it, uploading it now

[2015-04-09 14:36] #62 closed

[2015-04-10 06:52] rlintu opened #64 "pymongo.errors.InvalidOperation: cannot do an empty bulk insert"
Hi,
after ProgressBar correction db_mgmt_cpe_other_dictionary.py
goes forward and on line 86 it tries to insert empty batch to
cpeother which causes the error.

I added following test:

[code]

which fix this issue.

br,
Raino

[2015-04-10 06:56] PidgeyL commented on #64
Okay, thank you for your contributions!

[2015-04-10 07:03] PidgeyL commented on #64
Do you create a pull request, or do I re-create your code and push it?

[2015-04-10 07:06] rlintu commented on #64
Its faster if you just push it.

[2015-04-10 07:37] PidgeyL commented on #64
Bugfix is implemented, pull request pending. Thanks again

[2015-04-13 21:05] adulau commented on #64
Fixed

[2015-04-13 21:05] #64 closed

[2015-04-30 10:00] PidgeyL commented on #53
Shouldn't we take _id from the API? there is no reason to have it there, and it would, from a paranoid security point of view, give "too much" information about our database

[2015-04-30 12:15] adulau commented on #53
Usually it is .pop('_id'). I quickly reviewed the code and was missing one fixed in d5601f9934d65860a037f04125a2f7955f24f098.

[2015-04-30 12:57] PidgeyL commented on #53
Okay, great!

[2015-05-08 14:17] PidgeyL opened #70 "Replacing some GET's with AJAX requests"
This would improve the speed of some actions like adding/updating and/or removing CPEs

[2015-05-27 09:42] PidgeyL opened #74 "Internal server error when linking to something that does not exist"
![Example](https://cloud.githubusercontent.com/assets/8830839/7833196/39256758-0465-11e5-9712-36d6c60150c6.png)

[2015-05-28 12:24] jimmyfive opened #75 "db_mgmt_cpe_other_dictionary.py taking a long time"
Not sure if this is an issue or it's just the way it works.  I'm trying to use the software (great idea btw, thank you for doing this).  I'm kind of stuck on the  db_mgmt_cpe_other_dictionary.py script.
It starts off well, running its thing quickly.  Then after a few hours the process slows way down, according to the progress bar.  It's been running for over 12 hours now.
mongostat
mongostat
conne

[2015-05-28 12:40] PidgeyL commented on #75
Did you run the db_mgmt_cpe_dictionary script first? db_mgmt_cpe_other_dictionary goes over cpes in the cve info, and makes a title if none exists, so if you're running this over the entire database, this will take quite some time.

[2015-05-28 13:40] jimmyfive commented on #75
Yes I did run the db_mgmt_cpe_dictionary first.  This one was fast, no issues there.  Let me know if there's any data I can provide.  This is a test system I can play around.  It's worth mentioning it's running on a VM with 4GB assigned with 4 cores assigned.

2.6.3

[2015-05-28 13:46] PidgeyL commented on #75
I'm trying to think about what the possible issue could be. I know I installed in in a vm with less RAM and cores, so that's certainly not the issue. What OS are you running? Plain Unix?

[2015-05-28 13:56] adulau commented on #75
I think the db_mgmt_cpe_other_dictionary should be redesigned. As this is a very huge sequential query on the dataset. I'll have a look too.

[2015-05-28 14:07] jimmyfive commented on #75
It's on Ubuntu server 15.04.  Used the regular packages, nothing from source.  Let me know what I can do to help.

[2015-05-28 14:09] jimmyfive commented on #75
tail of the mongodb log, not a log going on:

$ tail -f /var/log/mongodb/mongodb.log
2015-05-28T06:50:45.208-0700 [clientcursormon] mem (MB) res:472 virt:2351
2015-05-28T06:50:45.208-0700 [clientcursormon]  mapped (incl journal view):2112
2015-05-28T06:50:45.208-0700 [clientcursormon]  connections:3
2015-05-28T06:55:45.268-0700 [clientcursormon] mem (MB) res:472 virt:2351
2015-05-28T06:55:45.268-0

[2015-05-28 16:10] jimmyfive commented on #75
2015-05-28T08:27:40.279-0700 [conn15] command cvedb.$cmd command: count { count: "cpe", query: { id: "cpe:2.3:a:mozilla:firefox:32.0" } } planSummary: COLLSCAN keyUpdates:0 numYields:0 locks(micros) r:104290 reslen:48 104ms
2015-05-28T08:29:57.932-0700 [conn15] command cvedb.$cmd command: count { count: "cpe", query: { id: "cpe:2.3:a:apport_project:apport:2.13.3" } } planSummary: COLLSCAN keyUpdat

[2015-05-28 18:06] jimmyfive commented on #75
Good news, the process took a while but it finished.  Took around 18 hours to complete.

[2015-05-28 20:01] PidgeyL commented on #75
That's way too long to be normal... For me, it took not even 10 minutes. I tested it on Ubuntu Server 14.10, though I doubt the version would be an issue

[2015-05-29 06:18] adulau commented on #75
@PidgeyL Did you have the index already created?

[2015-05-29 07:03] PidgeyL commented on #75
@adulau No, that script had not run yet.

[2015-05-29 11:37] jimmyfive commented on #75
This is the output when the script ended:

root@db-devsrv:~/cve-search/sbin# python3 db_mgmt_cpe_other_dictionary.py
Preparing [##################################################] 70309/70309
Traceback (most recent call last):
  File "db_mgmt_cpe_other_dictionary.py", line 92, in <module>
    info.update({'db': 'cpeother'}, {"$set": {'last-modified': icve['last-modified']}}, upsert=True)
TypeError

[2015-05-29 11:48] PidgeyL commented on #75
@jimmyfive stop breaking it ;) I'll have a look at that. You're using the latest version, right?

[2015-05-29 12:39] jimmyfive commented on #75
lol, I'll try.  :)
Yes, did a git clone

[2015-06-02 09:06] PidgeyL opened #78 "CVE search seems to add entries in the past"
On several devices already, I noticed that CVE-Search adds entries in the past (several days) without CVSS. I am not sure if this is a CVE-Search issue, an NVD issue, an NVD process update, or just a temporary issue they have, but it would be worth taking a look. Have you noticed something similar, @adulau ?

[2015-06-02 09:24] PidgeyL commented on #78
Update:
It seems like CVEs without a CVSS sometimes don't get updated, and no CVSS is added

[2015-07-02 13:01] standash opened #82 "Type conversion error on line 159 in "bin/search.py""
Hello,

There's a type conversion error when I'm running "search.py" and outputting the results into a html file.
The issue is on line 159, and the message is "TypeError: Can't convert 'float' object to str implicitly".

I believe the issue can be fixed by changing "item['cvss']" to "str(item['cvss'])".

Cheers.

[2015-07-02 13:26] PidgeyL commented on #82
Yep, indeed. Bug fixed, waiting for the pull request to be accepted :)

[2015-07-02 13:33] standash commented on #82
Thanks :)

[2015-07-02 13:35] PidgeyL commented on #82
You're welcome! Thanks for finding the bug

[2015-07-02 15:18] adulau commented on #82
Merged upstream ;-) Thank you for the reporting.

[2015-07-02 15:18] #82 closed

[2015-07-17 15:22] remy opened #85 "Error on first command: No module named 'dateutil'"
First of all, my apologies, I'm not a python developer, so I'm really just trying to run the commands from the README to get the cve-search running.

I'm running on a Mac, I *think* I the right python (`python3 -V / Python 3.4.3`), and I've run the first command (`sudo pip3 install...`).

Now from the root of the project directory, I'm running the `db_mgmt.py` and it's throwing an error (note that

[2015-07-17 19:53] PidgeyL commented on #85
This means that, under Mac, dateutil is not part of the default python module set. Try running sudo pip3 install dateutil

[2015-07-22 09:18] remy commented on #85
Thanks for the reply (and sorry for the late response, only picking this up again now).

This didn't seem to work, it fails with:

[code]

Is it possible that it's simply not compatible with mac's unix flavour?

[2015-07-24 07:00] PidgeyL commented on #85
If you run `pip3 freeze | grep dateutil`, do you see anything? Do you have easy_install3 on mac?

[2015-08-19 09:07] PidgeyL opened #87 "Consider changing to/giving option of couchDB?"
Should we consider merging to couchDB, or making CVE-Search compatible with both?
I have heard a lot of negative comments about Mongo, and it would be neat to give multiple database options.
Also, the database layer should be abstracted a lot more as well. (I can do this)
My idea would be to make a database abstraction layer, which implements functions for both mongo, couch, postgres,... (we could

[2015-08-19 12:01] adulau commented on #87
Sure, it's a good idea. I think the best would be to abstract more the database access.

Some document-based database like Hyperdex has compatible MongoDB compatible database http://hackingdistributed.com/2015/01/12/hyperdex-1.6.0/ .

Maybe we should start together to abstract more the database access. Then we see if can split the Document-based access compared to the key-value store access.

[2015-08-24 16:13] royharoush opened #88 "db_mgmt_cpe_dictionary.py execution takes a long time\not ending"
Hi,
as part of the setup i'm executing db_mgmt_cpe_dictionary.py, which runs for a very long time but doesnt complete. i've let it run for over 3 hours, but still nothing.
when i ctrl-c the execution this is the output.
![githubissue](https://cloud.githubusercontent.com/assets/8113056/9445312/2ff13e58-4a94-11e5-8ea8-aa597063505e.png)

should i just let it run longer ? or is there something not wor

[2015-08-24 16:24] adulau commented on #88
The initial import of the CPE takes some time but 3 hours seem quite slow. I'll give a try on a test machine with the initial CPE import and let you know. Have you checked your MongoDB logs?

[2015-08-24 16:43] royharoush commented on #88
Pasting my mongodb.log .. i can't see anything suspicious

roy@ubuntu:/var/log/mongodb$ more mongodb.log
Mon Aug 24 08:42:43.249 [initandlisten] MongoDB starting : pid=9729 port=27017 dbpath=/var/lib/mongodb 64-bit host=ubuntu
Mon Aug 24 08:42:43.250 [initandlisten] db version v2.4.9
Mon Aug 24 08:42:43.250 [initandlisten] git version: nogitversion
Mon Aug 24 08:42:43.250 [initandlisten] build inf

[2015-08-24 17:29] PidgeyL commented on #88
initially, it looks like this should be working. Are you, by any chance, using a slow medium to store your data (like a flashdrive)? I used to do that, so I know it takes a very long time in that case.

[2015-08-24 19:01] royharoush commented on #88
@PidgeyL i'm using a VM on a W540 laptop with SSD, 32bit (4 gb of which are assigned to the VM), as well as 4 CPUs. the OS is ubuntu 14 LTS.
roy@ubuntu:~/Desktop/cve-search-pidgin/cve-search/sbin$ uname -a && cat /etc/issue

Linux ubuntu 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 14.04.3 LTS \n \l

i'll give it a go again and come ba

[2015-08-24 19:42] royharoush commented on #88
ok, this issue relates to the first source in the update scripts. looks like nist is throttling traffic, not sure if it was because i reran the script alot of times, or some bandwith limitations from my office. i noticed that it would't run my house. as soon as i connected to a vpn it started working..

[2015-08-24 19:42] #88 closed

[2015-08-24 19:44] PidgeyL commented on #88
good to know your issue is solved :)

[2015-08-26 12:32] DavidA2014 commented on #85
I think you need to use:

pip install python-dateutil

[2015-08-26 12:51] PidgeyL commented on #85
@DavidA2014: that might work, @remy, can you give it a try? Use pip3 though, since it's for python3

[2015-09-01 10:35] PidgeyL commented on #32
Some possible sources:
 * http://seclists.org/fulldisclosure/
 * http://seclists.org/bugtraq/
 * https://www.kb.cert.org/vuls/

[2015-09-17 20:57] sugusrojo opened #89 "Error in index.py ( builtins.TypeError --- TypeError: 'bool' object is not callable)"
Hello! I am having a problem (Ubuntu 14.04 64-bit)

I only happens in index.py

If I run minimal-web.py works OK .
But if I run Index.py, then enters 127.0.0.1:5000 shows me the following error

Will I be able to help ? Thank you!

**Error in Web Browser**
[code]
**Error terminal:**

[code]
**Error Screenshot:**

![Image of Yaktocat](http://i.imgur.com/DZANxLj.png)
![Image of Yaktocat](http://i.im

[2015-09-18 07:01] PidgeyL commented on #89
Hi, thank you for sharing this bug :)
Can you please also give us a copy of your configuration file?

[2015-09-18 12:28] sugusrojo commented on #89
Yes! Many thanks:

cve-search/etc
configuration.ini.sample
https://www.dropbox.com/s/143znuuoyes9f24/configuration.ini.sample?dl=0

cve-search/lib
Config.py
https://www.dropbox.com/s/26vd5y0sca3cbes/Config.py?dl=0

cve-search/lib/__pycache__
https://www.dropbox.com/s/qo5mdjkn7xvn08a/Config.cpython-34.pyc?dl=0
Config.cpython-34.pyc

[2015-09-18 12:44] PidgeyL commented on #89
I see you sent the configuration.ini.sample file. Do you not have a configuration.ini file? If not, this would mean you're using the default values from the config.py file. (Just debugging here).
Could you try if you get the same issue using [my development branch](https://github.com/pidgeyl/cve-search)? It usually runs a fair bit ahead on Wim's, but it's generally less tested. It's just that, I'v

[2015-09-18 12:58] sugusrojo commented on #89
Yes . I have only configuration.ini.sample

Sorry! I did not understand:

I download your Development Branch ( https://github.com/pidgeyl/cve-search ) and install everything again and check if problem there again?

Many many thanks.

[2015-09-18 13:00] PidgeyL commented on #89
You can run it without installing it again. It will automatically point to the same database. Just keep in mind to shut off the other index.py before running this one

[2015-09-18 13:02] sugusrojo commented on #89
OK! I'll try! Many thank you very much !

What I caught my attention
 is that if I run minimal-web.py everything works OK and correctly.
The problem is when I run index.py !

[2015-09-18 13:03] PidgeyL commented on #89
Yes, the difference between the two, is that the minimal version does not have the ability for you to log in. And that is where the error occurs in index.py. I remember patching some bug there, a short while ago, so maybe this is also fixed :)

[2015-09-18 13:23] sugusrojo commented on #89
oh! Same problem :(
I try: python3 index.py and same problem.

Thanks.

[2015-09-18 13:38] PidgeyL commented on #89
that's very strange, because I don't get it, at all... It is after first going to the page, right?

[2015-09-18 14:57] sugusrojo commented on #89
Yes, right.
With
[code]
![image](https://cloud.githubusercontent.com/assets/14337361/9962461/30420ad8-5dfc-11e5-9274-8d73a6b4d726.png)
[code]
![image](https://cloud.githubusercontent.com/assets/14337361/9962497/6cdacb06-5dfc-11e5-94c9-95f533221e76.png)

[2015-09-18 15:04] sugusrojo commented on #89
The problem will be caused by python modules using PIP3 ?
How can I verify ```
pip3 install -r requirements.txt```
run successfully ?

[2015-09-18 15:06] PidgeyL commented on #89
you could do a sudo pip3 freeze, and look at all the versions of the packages, if you think the problem might be there

[2015-09-18 15:13] sugusrojo commented on #89
No, I do not think they are the modules . They are all correct.

Now I do not know what else to try :(

Also thanks for the help and sorry for the inconvenience .

[2015-09-18 16:56] PidgeyL commented on #89
That's really not an issue :) we want our project to work on default Linux systems, so naturally we would like to resolve this issue as well. The only thing is that we would have to try to recreate it for us to study the bug

[2015-09-25 15:48] sugusrojo commented on #89
I made installation

Ubuntu 14.04 LTS ( 64-bit )
Kali 2.0 (64 Bits )

And the problem occurs in both

Maybe the problem occurs through the steps / procedures that I perform :
I need a step or am doing something incorrectly / wrong

1) sudo apt-get update
2) sudo apt-get upgrade
3) sudo apt-get install python3
4) sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10
5) echo "de

[2015-09-25 16:32] PidgeyL commented on #89
Apart from the fact that I install mongo from the repo directly (Ubuntu), there is no difference. I will try a fresh install to replicate the problem. So far, I still was not able to reproduce the problem

[2015-09-28 12:24] kevthehermit opened #92 "db_update.py UnicodeDecodeError"
Tried to update my db and getting errors

Did a git pull after the first time i saw this and its still getting the same error

[code]

[2015-09-28 16:50] franktheforgetful opened #93 "For CVEs without a cvss score in NVD cve-search.py reports a bogus cvss score of 5"
New CVEs are frequently added in NVD initially without a _CVSS score_ which then gets populated at a later stage, for example have a look at all the last added CVEs. When querying the local cve-search db for such vulnerabilities it will return a bogus _CVSS base score_ of 5.

## How to reproduce:
1. go to https://web.nvd.nist.gov/view/vuln/search
2. perform a search without any string after markin

[2015-09-29 07:22] adulau commented on #93
Thank you for opening an issue.

The default value of CVSS when there are no CVSS is configurable. There is indeed the value of 5
in the default configuration (./etc/configuration.ini.sample):

[code]

Let us know if you want a specific improvement in the default configuration or how to better handle the non-set CVSS values.

[2015-09-29 14:17] franktheforgetful commented on #93
Hi Alexandre,

thanks for coming back to me on this. I apologize in advance because I did
not look at the code, so I don't know if this value comes from the search
command only or is actually stored on the DB, sounds like the second
situation.

Any value from 0 to 10, as would be valid score, used as default would be
misleading, then I would go for something falling outside this range. In
SQL the

[2015-09-29 20:21] sugusrojo commented on #89
**How to dump in CSV?**

Hello!
I use the command ```db_dump.py```

but I want to dump database in CSV or other formats, not JSON

This is possible?

The command ```search.py -o csv``` export in CSV, but not ```db_dump.py```

Thank you.

[2015-09-30 08:48] adulau commented on #93
Thank you for your feedback. I'll change the code in the following way, if there is no default value set, I'll set a "null" value for CVSS.

I will also change the default configuration to comment the default CVSS value.

Cheers.

[2015-09-30 08:53] adulau commented on #92
Thank you for the report.

I just did an import of the CWE:

[code]

It seems to work on my side.

Could it be that the download failed and gave another non XML-document?

[2015-09-30 08:59] adulau commented on #89
I could add a CSV export in the db_dump but as the format is quite rich (dictionary with array of data), it could be quite tricky to express all in CSV.

Another option is to use [jq](https://stedolan.github.io/jq/) to parse the JSON and extract the fields you want for your CSV export.

[2015-09-30 10:27] franktheforgetful commented on #93
Sounds good Alexandre, thanks!

If you need it i made a code snippet to get a cvssv2 base vector from your
cve-search output.

General suggestion: I would provide a bit more info about the software on
the readme.md or on a web page, for example i would have loved to see a
screenshot of the web interface. Same goes for cve-portal, it's really hard
to understand what it is and whether it does what o

[2015-09-30 12:58] sugusrojo commented on #89
OK! Thank you!
I want to convert JSON to CSV and failed.
For example I use Json Validator ( json files) - http://codebeautify.org/jsonvalidate- and gives me error

How complicated is the use jq to parse JSON and extract the fields i want for CSV. ?

[2015-10-01 09:00] kevthehermit commented on #92
tested again. Still getting the error.

rm /tmp/cwec_v2.8.xml

then run the command

The XML looks right but
[code]

XML looks fine but looking for 0xe2 in the xml shows.

[code]

[2015-10-01 09:37] kevthehermit commented on #92
Solved it.

Sorry the error was on my side. My locale for my ubuntu minimal install was set to POSIX not to en_US.UTF-8

Changing this solved my error .

[2015-10-01 09:37] #92 closed

[2015-10-01 15:19] sugusrojo commented on #89
Last question:

I want to dump but only 30 days (one month) ago, and only critical vulnerabilities - CVSS Scoring 7 or more
How can I do?

I have not found a command to do :(

Thank you!

[2015-10-02 06:36] adulau commented on #89
You can do it with db_dump and a jq filter:

[code]

I hope this helps.

[2015-10-02 14:23] sugusrojo commented on #89
Oh! Many many Thanks! Works perfects! ```python3 db_dump.py | jq "select (.cvss >=7) | ."```

And.. how can i do only 30 days ago or last month?

[2015-10-05 19:31] PidgeyL commented on #89
@sugusrojo "Good" news, I was able to recreate the error, using your steps. Time to fix the bug :)

[2015-10-05 19:45] sugusrojo commented on #89
@PidgeyL Many many Thanks! :+1:

[2015-10-05 20:02] PidgeyL commented on #89
I got it working (not committed yet). @sugusrojo and @adulau, could you both please do a pip3 freeze | grep -i flask? I'm thinking it might be a version difference. I have:
Flask==0.10.1
Flask-Login==0.3.1
Flask-PyMongo==0.3.1

[2015-10-05 20:09] sugusrojo commented on #89
@PidgeyL
[code]

[2015-10-06 14:38] PidgeyL commented on #89
My work-pc, where the current version works, has the following packages:
[code]
which probably confirms my suspicions of it being an update of Flask (login, in this case).
@adulau: What do we do? Do we set to use the old version of flask, or do we update the code? It seems to me, that the update of Flask is a very odd decision (basically, the ```current_user.is_authenticated()``` doesn't work anym

[2015-10-06 14:47] adulau commented on #89
There is a recommendation about version pinning there https://github.com/maxcountryman/flask-login/issues/230 from the author himself of Flask-Login. It seems very awkward to me.

[2015-10-06 15:00] PidgeyL commented on #89
so what should we do? upgrade to the newer Flask? I already did this at home (not committed yet), and it's just changing 3 files (from what I've seen), something like 7 occurrences. Not a lot of work, but something we should decide on. Or we can make it work with both versions, if we do a version check at the beginning, but that seems overkill to me. Maybe best work with the latest version of Flas

[2015-10-06 15:23] sugusrojo commented on #89
Thanks @adulau !
Sorry for the Question.. i am newbie in Linux :(
but.. how  downgrade Flask-Login?

[2015-10-06 17:14] adulau commented on #89
I updated the requirements.txt file in the following way:

[code]

Then you can uninstall Flask-Login

[code]

And finally you reinstall all the requirements

[code]

[2015-10-06 17:15] #89 closed

[2015-10-07 15:21] sugusrojo commented on #89
Many thanks @adulau and @PidgeyL
Work for me :) :+1:
Sorry for my bad english, But again, thank you very much for all the work .

[2015-10-07 22:26] ottobackwards commented on #89
Thanks for the fix.  Is there another issue or item to track support for Flask-Login > 0.2.11?

[2015-10-08 19:27] sugusrojo opened #97 "Error in search_fulltext.py"
Hi!  have a problem running the command ```python3 search_fulltext.py  -g -s >cve.json```

He shows me the following
[code]

I have Whoosh==2.7.0

Is it a bug? Or am I doing something wrong?

Thank you

[2015-10-09 05:26] adulau commented on #97
It seems that you have no indexes in the whoosh directory. It could be that the indexing was not done at the initial import. You can run manually the indexing by doing the following command:

[code]

and then do search again using search_fulltext.py. If you any issue, let me know.

[2015-10-09 05:28] adulau commented on #55
This has been implemented in the minimal-web interface. I'll create another issue for the API only interface.

[2015-10-09 05:28] #55 closed

[2015-10-09 15:38] sugusrojo commented on #97
@adulau Thanks for reply.
I executed the command ```python3 db_fulltext.py -l 0 -v``` and after a few minutes, ended correctly.

But running the command ```python3 search_fulltext.py  -g -s >cve.json``` Same error:

[code]
Thanks

[2015-10-12 10:16] PidgeyL commented on #89
The flask developers themselves said not to upgrade to the newer version. We will keep an eye on the development, but for now, we will keep the version of 0.2.11

[2015-10-13 15:14] sugusrojo commented on #97
hi @adulau
Any news?
Thanks :D

[2015-10-13 15:24] adulau commented on #97
It seems that the indexdir is not at the right place. Could you check where you Whoosh indexes were created? You can update it from the tool itself (I still need to update the code to use the directory path from the config file)

[2015-10-16 17:37] sugusrojo commented on #97
@adulau Thanks Alexandre.
But.. how check where my Whoosh indexdir were created?
I am very very newbie in linux.

[2015-10-16 18:12] Grazfather opened #98 "NIST pulled the uncompressed data feed"
When we populate we try to pull from http://static.nvd.nist.gov/feeds/xml/cve/nvdcve-2.0-2002.xml and we are redirected to https://nvd.nist.gov/Data-Feeds/datafeedinfo which says:

We're referred [here](https://nvd.nist.gov/download.aspx) for the compressed versions.

[2015-10-16 18:30] Grazfather commented on #98
So we could solve this by changing `getFile` to get the .gz version, but then we'll need to ungzip what we receive, and then probably change the xml parsers to take in a buffer instead of a file object.

[2015-10-16 18:41] Grazfather commented on #98
Here's a hack that works:

[code]

[2015-10-17 15:27] #98 closed

[2015-10-17 15:27] adulau commented on #98
Thank you very much for the report. It's fixed. If you something not working as expected, feel free.

[2015-10-17 15:31] adulau commented on #93
This should be fixed with commit #f24cdb68cc9ea2f12bed05a217f4c5a5984529d0.

[2015-10-17 15:32] adulau commented on #93
Thank you very much for the bug report.

[2015-10-17 15:32] #93 closed

[2015-10-17 16:24] Grazfather commented on #98
Not problem, thanks for the quick fix!

[2015-10-26 20:20] sugusrojo commented on #97
Hi @adulau @PidgeyL
Any News?
Thanks! :D

[2015-11-05 12:32] jonaskint commented on #85
Getting the same issue on the Ubuntu 15.04. The issue is resolved if you install the packages via aptitude instead of pip.
python3-pymongo
python3-dateutil
python3-redis
...

[2015-11-09 18:52] sugusrojo commented on #97
Hello @adulau @PidgeyL
Any News?
I tried searching on Google but not found anything.
Thanks!

[2015-11-09 19:28] adulau commented on #97
Could you just check if you have the index built by db_fulltext.py? it's in indexdir with files likes MAIN_*.

[2015-11-11 18:18] sugusrojo commented on #97
@adulau Thanks for reply.
I executed the command ```python3 db_fulltext.py -l 0 -v``` and after a few minutes, ended correctly.

But running the command ```python3 search_fulltext.py  -g -s >cve.json``` Same error :(

I have a folder called " idexdir " with these files

![image](https://cloud.githubusercontent.com/assets/14337361/11098966/39d1036e-8887-11e5-89c1-5c60781cb5c4.png)

This is correct?

[2015-11-23 17:30] tunkaflux commented on #97
I didn't search for related issues when I opened #115, sorry for that.

Had some time to do some additional debugging today:
If I change `indexpath = "./indexdir"` to `indexpath = "/home/me/Source/cve-search/indexdir/"` (the directory of the index) in search_fulltext.py it seems to work:
[code]

I'll keep looking as well.

[2015-11-25 19:00] sugusrojo commented on #97
thanks @tunkaflux

I tried what you say and do not work for me :(

in the folder ```/home/XXX/cve-search/bin``` I modified the file ```search_fulltext.py``` for:

```indexpath = "/home/XXX/cve-search/sbin/indexdir/"```

Then, i run
```/home/XXX/cve-search/sbin/python3 db_fulltext.py```

And Same error.

[code]

this is strange , because in the folder indexdir MAIN files exist
[code]

[2015-11-25 19:04] tunkaflux commented on #97
Ok... but why did you close this? :)

[2015-11-25 19:08] sugusrojo commented on #97
Sorry, my bad :P

[2015-11-25 19:08] tunkaflux commented on #97
Also, I noticed my indexdir is in "/home/xxx/cve-search/indexdir/". That's also the directory that gets updated when I reindex everything.
It seems you are using "/home/xxx/cve-search/sbin/indexdir"? Can you reindex everyhing and see which dir gets updated: cve-search/indexdir or cve-search/sbin/indexdir?

Afterwards, point to the updated indexdir and try again.

[2015-11-25 19:23] tunkaflux commented on #97
For the record, both indexdirs work for me, so are you sure that you didn't make a typo somewhere?

[2015-11-26 14:21] westlifezs commented on #88
this looks similar to my issue. However, I could not have it resolved on either my home or in the office. Could any of you guys provide more details regarding how can I modify the update scripts in order to have the data populated? thanks

[2015-11-26 14:24] PidgeyL commented on #88
If the issue is the network connection, you can download the files manually and make the config file point to those files

[2015-12-03 19:13] sugusrojo commented on #97
@tunkaflux
Thank you very much for answering
This is strange, i reindex everything and still creates the MAIN files in /sbin/indexdir but search_fulltext.py not working.
I re- download CVE-SERCH  and I used the command ( who told me @adulau) python3 db_fulltext.py -l 0 -v to reindex and not working.
Also modified the file search_fulltext.py (change indexpath)  and I still generates the same proble

[2015-12-04 08:12] PidgeyL commented on #97
I'm running Ubuntu 14.04, 64 bit

[2015-12-04 16:15] tunkaflux commented on #97
Ubuntu 14.04, 64 bit here.

[2015-12-06 11:03] #97 closed

[2015-12-11 14:51] sugusrojo commented on #97
Hi!
Not work for me :( Install a new Ubuntu (14.04) and install/extract CVE-SEARCH (new dowload) and the same error.
[code]
BTW, now the MAIN files are in the folder  "cve-search/indexdir"

any ideas?

[2015-12-16 08:18] AkiraTakizawa opened #111 "Access website from remote location?"
Hello

I'm not sure this is the right place to ask about it as it may not be a real issue, but I've trouble with the accessing the built-in webserver.

I installed cve-search and in a VM with 2 network adapters. One is configured as NAT, the other is host-only. Apparantly it is not possible to access the VM from the host using port forwarding in NAT: 10.0.2.15:5000 (guest) > 127.0.0.1:5000 (host).

[2015-12-16 08:39] PidgeyL commented on #111
`Is there a setting to specify which IP(s) the built-in server must listens to? I have the impression that it will only accept connections from localhost.`

Yes. In the configuration file, you can specify the IP to listen on. If you want it to listen to all interfaces, set it to 0.0.0.0

Can you try this, and let me know if this solved your problem?

[2015-12-16 08:50] AkiraTakizawa commented on #111
Hi PidgeyL

Thank you very much for your light-speed reply! It works now :+1:
I changed the host line in etc/configuration.ini
[code]
![screenshot from 2015-12-16 09-48-28](https://cloud.githubusercontent.com/assets/8864848/11836328/461fed7e-a3da-11e5-8288-8aae2de09725.png)

[2015-12-16 08:51] PidgeyL commented on #111
Great! Glad to help :)

[2015-12-16 08:51] #111 closed

[2015-12-16 19:15] sugusrojo commented on #97
Hi people!
any news or suggestions?

[2015-12-16 19:39] tunkaflux commented on #97
@sugusrojo Have you tried fix [#97](https://github.com/adulau/cve-search/pull/97) from the Adulau repo? See commit (https://github.com/adulau/cve-search/commit/98bda7d388b8844c89907588aff219e3d6974097)

[2015-12-16 19:56] sugusrojo commented on #97
@tunkaflux tThanks for the Reply!
Yes, I've tried.
I tried new fresh installation Ubuntu 14.04  and re dowloding a new copy CVE-SEARCH.
now, the MAIN files are in the folder "cve-search/indexdir", but same error but the same error occurs.

[2015-12-17 14:21] sugusrojo commented on #97
@tunkaflux you can upload your Ubuntu Virtual Image?
Because...
You CVE-SEARCH in Ubuntu works.
My CVE-SEARCH not work in Ubuntu .
I want to see the difference between these two OS configuration or see what's difference.

[2015-12-17 15:13] sugusrojo opened #112 "Error in dump_last.py"
Hi!

I have an error when running the command ```python3 dump_last.py -r -l 20 -f html```

[code]
When I add ```> test.html```

[code]
The html generated is blank  but watch the source code
[code]

If I run the command python3 ```dump_last.py -r -l 20 -f rss1 > test.xml```

I generates XML that contains only this:

[code]

The command I've seen in
"https://github.com/cve-search/cve-search/blob/mas

[2015-12-17 16:08] #112 closed

[2015-12-17 16:08] adulau commented on #112
Thank you for the report. This has been fixed. Cheers.

[2015-12-17 16:21] tunkaflux commented on #97
@sugusrojo No, unfortunately, I can't upload an image.

@adulau @PidgeyL: Does search work for you guys?

[2015-12-17 17:25] AkiraTakizawa commented on #97
I've tried it as well and got the same kind of error. I let the VM run and it's currently generating this index. I'll retry tomorrow morning when it's done.

PS: Running this on Ubuntu Server 14.04-3 LTS x86_64.

[2015-12-17 17:27] sugusrojo commented on #97
Thanks @AkiraTakizawa . I'll wait for your answer.

[2015-12-17 18:02] sugusrojo commented on #112
Thanks! :) Work for me :D
I can add value "CVSS Severity" (e.g 7.5) and "Vulnerable software and versions" to  '''dump_last.py'''?

[2015-12-17 21:28] adulau commented on #97
The last commit should be fine.

Here is an example of the use of the full-text indexing:

[code]

I hope this helps.

[2015-12-18 07:46] AkiraTakizawa commented on #97
I confirm that it works after building the index :)

Example:
[code]

[2015-12-18 07:48] adulau commented on #97
@AkiraTakizawa Thank you for the test.

[2015-12-21 15:52] sugusrojo commented on #97
I found the problem!

If I run the command from the folder ```CVE-search``` works OK

```XXX@XXX:~/cve-search$ python3 ./bin/search_fulltext.py -q CVE-2013-1455```

WORK! :dancer:

If I run it from the ```CVE-search\bin``` folder does not work! It fails.
[code]

[2015-12-21 15:58] PidgeyL commented on #97
Thanks for your help! That probably means there is still a relative path that is not working yet. I'll take this issue and work on it on my way home from work, and if fixed, I'll commit it tonight

[2015-12-21 16:50] PidgeyL commented on #97
I am currently testing this, but it works perfectly for me in both cases. Can you do the following for me?

1) give me the value for Indexdir in el./etc/configuration.ini
2) add print(indexpath) to line 27 of ./bin/search_fulltext.py and give the output?

[2015-12-21 17:18] sugusrojo commented on #97
1) I haven't file configuration.ini in cve-search/etc.
Only "configuration.ini.sample"
[code]

[2015-12-21 17:30] PidgeyL commented on #97
And if you do step two from the above directory?

[2015-12-21 17:32] sugusrojo commented on #97
[code]

[2015-12-21 17:41] PidgeyL commented on #97
I'm baffled... Could you gzip your entire folder and send it to me, either by mail or upload it somewhere? That would be a lot easier to debug

[2015-12-24 14:44] sugusrojo opened #116 "Problem to use dump or search CVE (CVSS & Time/Date)"
I want to create a JSON, XML or CSV file, but only CVSS more 7 and that has been modified between two dates.
Example:

CVSS> 7
Between:
01/11/2015 and 11/31/2015

Or it would be like searching the web but you need the data in JSON / XML or CSV, or export this result in json or others formats.

![image](https://cloud.githubusercontent.com/assets/14337361/11996036/25e39400-aa3a-11e5-8b3c-38cd4737701

[2015-12-28 17:43] sugusrojo commented on #116
python3 db_dump.py | jq "select (.cvss >=7) | ." >test.json

If I run this command, dump all more CVSS 7 value, but only CVSS.
And I want to CVSS and choose between two days.

if i run this command

python3 db_dump.py | jq "select (.Modified >=10-11-2015) | (.cvss >=7) | ." >test.json

No work.

any ideas or suggestions?
Thanks!

[2015-12-28 20:27] sugusrojo opened #117 "{ and } in search_fulltext.py"
Hello there!
If it's not a bug, I apologize.

But if I run the command that is written in "brucon2015-cve-search.pdf", page 10

```python3 ./bin/search_fulltext.py -q unknown -f | jq -r '. | . vulnerable_configuration[0]' | cut -f5 -d: | sort | uniq -c | sort -nr | head -10```

The result is:
[code]
As you can see, the first two results are {and} when it should not be.

This also occurs in the exa

[2015-12-28 21:16] adulau commented on #117
Thank you for the feedback. You should replace jq -r with jq -c. I think the compact output changed and was the default with older version of jq. I will update the slides.

[2015-12-28 21:27] #117 closed

[2015-12-29 12:51] sugusrojo commented on #117
Thanks @adulau

Works perfect!

![image](https://cloud.githubusercontent.com/assets/14337361/12034572/772a8dfc-ae11-11e5-9e62-65567d6e67d8.png)

[2016-01-02 10:19] adulau opened #120 "Generate UUID for vulnerability without CVE assignment or vendor assignment"
As cve-search aggregates various sources of vulnerability, it's not uncommon to get vulnerability without CVE assignment. The idea is to allocate an UUID at the import to ensure a unique identified within
a cve-search installation or beyond cve-search.

The proposal, in a near future, would be to support a public version of cve-search were security researchers could get an UUID for a vulnerability

[2016-01-05 20:05] sugusrojo commented on #116
Hi!
Any solution?
Thanks!

[2016-01-11 20:30] sugusrojo commented on #116
I found the solution!
[code]
thank you anyway!

[2016-01-11 20:30] #116 closed

[2016-01-12 17:51] sugusrojo opened #121 "A different result with two commands in search_fulltext.py"
Hello there!
Run the command that is on the sheet 10 PDF brucon2015-cve-search.pdf and it works perfect.

```python3 ./bin/search_fulltext.py -q unknown -f | jq -c '. | . vulnerable_configuration[0]' | cut -f5 -d: | sort | uniq -c | sort -nr | head -10```

Result:
[code]
But what I want to do is to that command, adding a date search.
I use this command:

```python3 ./bin/search_fulltext.py -q unkn

[2016-01-12 19:50] sugusrojo commented on #121
Fixed.

Solution:

```jq -c 'select( (.Modified >= "2016-01-01") and (.Modified <= "2016-01-30")) | .vulnerable_configuration[0]'```

[2016-01-12 19:50] #121 closed

[2016-01-12 21:05] adulau commented on #121
;-) Thanks for the notes.

[2016-01-13 15:46] sugusrojo opened #122 "Full Text visualization: Tip/Idea and Question"
Hello
It would be possible to add fulltext visualization (search_fulltext.py  -g -s) to products and vendors?
I wish make build a list of the most common products and venders, no keywords used in CVE.

They also do not know if it's possible to use -g -s but adding a filter or external command.
Example:
[code]
This I want to make a filter, keywords used in CVE only 2015 year.

Thanks!

[2016-01-14 22:14] qsa-aheczko opened #123 "./sbin/db_fulltext.py doesn't create fulltext index"
Hello,
maybe this is my specific issue. On Ubuntu 14.04 looks like full text search doesn't work / doesn't generate full text index.
Running command:
 ./sbin/db_fulltext.py
Processing[##################################################] 5/5
tooks only about 1 second, and the full text querying seems not to work:
./bin/search_fulltext.py -q NFS -q Linux
(...) no output
How to debug / resolve issue?

[2016-01-14 22:27] adulau commented on #123
You just index the last 5 new entries. If you want to index all entries set the option '-l 0':

[code]

I hope this helps.

[2016-01-14 22:29] qsa-aheczko commented on #123
Great!
Now works as expected.
Awesome!

[2016-01-14 22:30] #123 closed

[2016-01-14 22:34] adulau commented on #123
Thank you for the feedback.

[2016-01-15 11:19] danje57 opened #124 "Enable search text on mongodb version: 3.0.8"
Hi all,

I've just installed cve-search. It works like a charm, I can make queries by script...

However I can't enable Fulltext search:

Fulltext search not enabled
The current settings in the database do not allow fulltext search.
If you feel like this should be enabled, please contact your administrator.

However, search text is enable on mongodb by default since version 3.

I tried to apply th

[2016-01-15 12:31] PidgeyL commented on #124
CVE-Search throws an error in the command line as well, when fulltext fails (see ./web/index.py line 450). Can you tell us what error it gives?

[2016-01-15 12:35] danje57 commented on #124
Hi,

I saw the problem,

As mongodb changes, we have to modify the getFreeText function in /lib/DatabaseLayer.py

by this code:

def getFreeText(text):
  #  return [x["obj"] for x in db.command("text", "cves", search=text)["results"]]
  return sanitize(colCVE.find({"$text":{"$search":text}}))

Now with mongodb v3 the freet text function works well.

[2016-01-15 12:36] PidgeyL commented on #124
Sweet!
I'll update the code to be compatible with both databases.

[2016-01-15 12:40] PidgeyL commented on #124
Can you test the update?

[2016-01-15 12:45] danje57 commented on #124
Updated with new code.
It works!

[2016-01-15 12:46] PidgeyL commented on #124
Cool! Thanks for pointing this bug out!

[2016-01-15 12:46] #124 closed

[2016-01-15 12:47] danje57 commented on #124
Next step for me, I'll try to add a Product column on CVE display page!

[2016-01-15 12:47] danje57 commented on #124
No problem thanks to you to keep it updated!

[2016-01-18 09:55] PidgeyL opened #129 "potential bug in ./sbin/db_mgmt_d2sec.py"
./sbin/db_mgmt_d2sec.py threw the following error:
[code]

[2016-01-19 21:17] asadeddin commented on #129
Getting the exact same error as above. Any known work arounds?

[2016-01-19 23:12] qsa-aheczko commented on #129
Also run into this bug. Could be considered as 'confirmed'.

[2016-01-20 06:05] KorayAgaya commented on #129
I have same error

==========================
Tue 19 January 2016 06:21
==========================
Starting cves
Preparing [##################################################] 155/155
cves has 74661 elements (11 update)
Starting cpe
Not modified
cpe has 108112 elements (0 update)
Starting cpeother
Not modified
cpeother has 0 elements (0 update)
Starting vfeed
Not modified
vfeed has 75539 elements

[2016-01-20 07:57] adulau commented on #129
It seems that the XML format of D2SEC changed slightly. http://www.d2sec.com/exploits/elliot.xml I'll update the parser.

[2016-01-25 17:54] #122 closed

[2016-01-26 05:51] KorayAgaya commented on #129
continues same error How can I do this

[2016-01-27 06:31] #129 closed

[2016-01-27 06:32] adulau commented on #129
Thank you for the report. It's fixed.

[2016-01-28 02:56] dleyanlin opened #132 "Prompt the error : "can't open https://github.com/offensive-security/exploit-database/raw/master/files.csv""
when starting exploitdb, respone below error:
Cannot open url https://github.com/offensive-security/exploit-database/raw/master/files.csv. Bad URL or not connected to the internet?

Check the https://github.com/offensive-security/exploit-database, the files.csv url is https://github.com/offensive-security/exploit-database/blob/master/files.csv

[2016-01-28 20:13] adulau commented on #132
The URL works for me. https://github.com/offensive-security/exploit-database/raw/master/files.csv

I tested the import with the latest version and this works.

[2016-01-29 06:57] PidgeyL commented on #132
Works for me as well. But, @dleyanlin, you can change the source file, if that works better for you.

[2016-02-01 14:41] ttrostel opened #133 "AttributeError: 'ExploitHandler' object has no attribute 'cveref'"
After setup and in doing an update I get the following error:

Starting d2sec
Traceback (most recent call last):
  File "/home/ttrostel/cve-search-master/sbin/db_mgmt_d2sec.py", line 109, in <module>
    parser.parse(f)
  File "/usr/lib/python3.4/xml/sax/expatreader.py", line 107, in parse
    xmlreader.IncrementalParser.parse(self, source)
  File "/usr/lib/python3.4/xml/sax/xmlreader.py", line 12

[2016-02-01 17:20] adulau commented on #133
I fixed recently an issue with the d2sec feed where sometime there are no ref for an exploit, Can you git pull? To be sure that you are running on the latest 82f6d1d7f3a581af1c0a16a264d6874f9596ff73

Thank you.

[2016-02-01 17:25] jpopelka opened #134 "no pytz in requirements.txt"
[code]

[2016-02-02 07:59] #134 closed

[2016-02-02 07:59] adulau commented on #134
Nice finding. It's fixed. Thank you.

[2016-02-10 16:30] adulau commented on #133
Can I close the issue? Thanks a lot.

[2016-02-17 20:36] sugusrojo opened #138 "Idea: Add "note" in Web Interface."
I do not know if it's possible, but I think it would be good option to add a field to write notes/information/data inside a vulnerability
For example, something like that.

![image](https://cloud.githubusercontent.com/assets/14337361/13123839/02ae3c68-d59d-11e5-875c-b6fcda0029e7.png)

It is practical to leave personal comments, for example, a video from youtube, pastebin with script, etc.

Would i

[2016-02-17 21:20] adulau commented on #138
It's a good idea. We will look into it.

[2016-02-18 07:08] PidgeyL commented on #138
@sugusrojo Thanks for the suggestion. This would not be too difficult, but I'll have to think about the implementation (more specifically the database).
The main thing to consider is, do we want the notes to be available for all users, only the creator, or do we want the option to share? Based on this, the database implementation will be different.

[2016-02-22 16:47] adulau opened #139 "api to get last modified (and not published)"
api to get last modified (and not published)

[2016-02-29 14:22] sugusrojo commented on #138
@PidgeyL @adulau
Thank you!
I do not know what would be better.
I think it's a decision that I can not take myself. It's a decision they have to make all users CVE-SEARCH

Personally user "only the creator", but again, either choice is fine for me.

[2016-02-29 14:33] PidgeyL commented on #138
The following would be fairly easy to accomplish:
 * Every user can add notes
 * Notes can be public or private. Public notes can be viewed by everyone
 * We keep a collection of every note per user

Disadvantages:
 * Users who make "useless notes" public can "spam" the other users
 * Making notes available for a few users or user groups would require a database update regarding users

Things to c

[2016-02-29 15:00] sugusrojo opened #141 "Only Database in Windows - It's possible?"
On a computer with Windows 2008 R2 and running MongoDB OK I want to install CVE-SEARCH
 
But I'm only interested in the updated database, I do not want the web interface

I just want to download from Sources (eg http://static.nvd.nist.gov/feeds/xml/cve/) the CVE database and I store them in the local database MongoDB on Windows.

I have installed python3

It's possible?

[2016-02-29 15:07] PidgeyL commented on #141
I don't see why not. If you can get all the dependencies, this should work the same way it does on Linux. What is your goal though? Have the MongoDB running on the Win 2008 server, and the interface on another server? In which case, the upgrade script could be running on your other server.

Or do you want to use the query scripts (or only the database scripts) on the Win2008 directly? In which cas

[2016-02-29 18:12] #141 closed

[2016-03-01 10:02] PidgeyL opened #142 "CVE-Search more modular"
It would be a good idea to make CVE-Search modular and customizable with plug-ins.
Examples of plugins would be:
 * Seen CVEs (current feature)
 * Bookmarked CVEs (current feature)
 * MISP information (current feature)
 * Other information sources (future features)
 * User notes for CVE (requested feature #138 )

[2016-03-02 12:52] sebastian0x00 opened #143 "pyhton3 db_updater.py error: Import syslog fails on Windows"
Update database (pyhton3 db_updater.py) fails on Windows 2008 R2 SP1, Python  3.5.1

 pyhton3 db_mgmt.py -p (OK)
 pyhton3 db_mgmt_cpe_dictionary.py (OK)
 pyhton3 db_updater.py -c (FAIL)

![image](https://cloud.githubusercontent.com/assets/14337361/13460701/2a3af726-e05b-11e5-8f23-9f7cb1ca195e.png)

`C:\cve-search-master\sbin>python db_updater.py -h
Traceback (most recent call last):
  File "db_upd

[2016-03-02 13:06] PidgeyL commented on #143
I'm not sure if syslog is in our requirements file. Try installing the module with pip3

[2016-03-02 13:15] sugusrojo commented on #143
@PidgeyL
Thanks for the reply.

pip install syslog

no work.

![image](https://cloud.githubusercontent.com/assets/14337361/13461324/712b06c2-e05f-11e5-9b4d-46008f8f36fa.png)

I think syslog is unique Linux. And I have Windows. But I think.
It's strange, because it can install "pip install -r requirements.txt"

[2016-03-02 14:05] PidgeyL commented on #143
syslog is not uniquely Linux, but there might be some other way to install it. I know Linux (at least ubuntu 14.04) generally has it installed, as it's often used, and Linux uses a lot of python. Windows does not use python by default, so probably, therefore it's not available from the start.

A quick search does not bring up much (for Windows). @adulau maybe we should use the logging module inste

[2016-03-02 14:07] adulau commented on #143
Indeed the logging module should be more portable.

[2016-03-03 09:16] PidgeyL commented on #142
@adulau
I've been thinking on how to do this, and most parts are easy to figure out, but some are a bit more dificult. What I thought of so far is:
 * One file (`lib.module`) is a template for all modules, and will be extended by custom modules
 * A module loader will give the users the ability to load or disable modules, even while the server is running (I've written something like this in previo

[2016-03-09 18:19] sugusrojo commented on #143
Thanks @PidgeyL @PidgeyL
It is posible change the module syslog for[logging](https://docs.python.org/2/library/logging.html) module?
[logging](https://docs.python.org/2/library/logging.html) has the advantage that logging is platform independent, so it works on both Windows and Linux
It is easy or very complicated?

[2016-03-09 19:14] PidgeyL commented on #143
I am directly working on the admin interface. If @adulau hasn't finished it by the time I'm ready, I'll do it

[2016-03-09 21:14] adulau commented on #143
I'll have a look.

[2016-03-09 21:33] adulau commented on #143
I just merged a potential fix. Could you pull and try on your Windows machine? and let me know.

[2016-03-10 13:26] sugusrojo commented on #143
@adulau Thanks. Now other new error.

`C:\cve-search-master\sbin>python db_updater.py -c -i
INFO:root:Starting cves
Traceback (most recent call last):
  File "db_updater.py", line 129, in <module>
    subprocess.Popen((shlex.split(source['updater']))).wait()
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python35-32\lib\subprocess.py", line 950, in __init__
    restore_signals, start

[2016-03-10 13:31] adulau commented on #143
Thanks for the feedback. I see that's now the path builder that was only designed for Unix-like operating system. I'll have a look to make it more portable.

[2016-03-10 13:39] sugusrojo commented on #143
@adulau @PidgeyL  Thanks to you.
Sorry for the inconvenience ... If one day come to Argentina, I invite the famous  meat "Asado" :P

[2016-03-16 20:18] sugusrojo opened #147 "cve_doc.py Impact Error in some CVE"
Hi!
I have a problem.
I Run this command

` python3 cve_doc.py  -c CVE-2015-0997 | asciidoctor - >test.html`

and get an error

[code]

But i run a another CVE, work OK (Html perfect)

``` python3 cve_doc.py  -c CVE-2015-0003 | asciidoctor - >test.html```

This error is also present in other CVE, for example CVE-2016-0997 and CVE-2016-0997

Why it works only in some CVE?

Greetings.

![image](http

[2016-03-24 14:12] Antho59 opened #148 "Cannot run index.py (web interface)"
Hi,

I have an issu while running 'python3 index.py' , and it's th same with minimal-web.py

Cmdline Paste :

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/tornado/gen.py", line 111, in <module>
    from collections.abc import Generator as GeneratorType  # py35+
ImportError: cannot import name 'Generator'

During handling of the above exception, another exceptio

[2016-03-24 14:16] PidgeyL commented on #148
did you make sure to run the pip install with sudo rights?

[2016-03-24 14:31] Antho59 commented on #148
yes sure

[2016-03-24 14:40] Antho59 commented on #148
pip3 install lxml also give me this error :error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

[2016-03-24 14:43] PidgeyL commented on #148
Do you have gcc and all dependencies installed?

[2016-03-24 14:48] Antho59 commented on #148
yes gcc is installed i'v checked it when i saw this error

[2016-03-24 16:08] Antho59 commented on #148
No idea ? Maybe Debian8's some base packages are missing ?

[2016-03-25 12:24] Antho59 commented on #148
I've tried it with Ubuntu 14.04 and works great, though the issue comes from debian's os.

Topic closed

Thanks

[2016-03-25 14:37] PidgeyL commented on #148
Well, leave this threat open, we might have a look later on.

[2016-03-25 19:17] adulau commented on #148
Looks like to be related to the requirements of Tornado with specific version of Python:

http://www.tornadoweb.org/en/stable/releases/v4.3.0.html

[code]

[2016-03-29 17:49] ghost opened #149 "Malformed HTML"
getting an annoying `WARNING:tornado.access:404 GET /static/js/custom/statusses.js` popping up in the terminal

the .js doesn't exist and I found why I'm getting that error: https://github.com/cve-search/cve-search/search?utf8=%E2%9C%93&q=statusses

/web/templates/layouts/master-page has malformed html, or the wrong .js linked up to it.

[2016-03-29 18:30] adulau opened #150 "STIX export from cve-search"
There is a clever script from CERTUK to export STIX from cve-search:

https://github.com/certuk/cve-builder

It might be interesting to have it by default in the API.

[2016-03-30 20:27] sugusrojo commented on #143
@adulau @PidgeyL
Hi! Any news?

[2016-03-31 06:38] PidgeyL opened #151 "List of platforms & pre-requisits of confirmed CVE-Search instances"
Here-under you can find a list of set-ups that have been confirmed to work with CVE-Search.
- [Ubuntu 14.04 LTS (Trusty)](https://github.com/cve-search/cve-search/blob/master/doc/markdown/installation.md)
- [MacOS X 10.11.4 (El Capitan) with Homebrew](#issuecomment-205534367)
- [Debian stable 8.5 aka Jessie](#issuecomment-228837256)

[2016-03-31 06:40] PidgeyL commented on #149
Thanks for noticing! Seems like something went wrong when merging branches... That script is supposed to be there, it's not a typo.

[2016-03-31 06:44] PidgeyL commented on #149
@adulau can you merge [the pull request](https://github.com/adulau/cve-search/pull/120)

[2016-03-31 06:46] #53 closed

[2016-03-31 06:46] #58 closed

[2016-03-31 17:07] Cris-GG opened #152 "Error in db_fulltext.py (used more than the maximum RAM)"
Hi everybody,

I have a problem similar to issue #97 (https://github.com/cve-search/cve-search/issues/97), there are no indexes. But when I try to run the command:
`python3 db_fulltext.py -l 0 -v `

It doesn’t work for me. I get the following error:
[code]

If I run the same command but with a smaller index (for example with 100 or 1000) it does work (but it doesn’t create the full text index of c

[2016-03-31 19:49] PidgeyL commented on #152
Just out of curiosity, how much RAM are we talking about?

[2016-04-01 07:56] Cris-GG commented on #152
Thanks PidgeyL for your quick answer,
I’m using a VM with 1GB of RAM allocated on a host machine with 4GB of RAM. Does it require more RAM to perform the sort operation?

[2016-04-01 08:15] PidgeyL commented on #152
I personally never use the fulltext feature. @adulau will know more.
When you do the db update, do you use the -i tag to index the fulltext?

[2016-04-02 08:12] Cris-GG commented on #152
I think I haven't used the tag before when updating, I'll do it now.

[2016-04-02 12:24] adulau commented on #152
Whoosh full index can be indeed resource intensive for the initial indexing.  The full text index Whoosh is just an alternative to the MongoDB full text. It was there because initially MongoDB didn't support full text indexing. I will update the full text query command line tool to support MongoDB fulltext too.

[2016-04-04 13:31] Antho59 opened #153 "Misp with cve-search"
Hi,

I'm trying to use misp with cve-search, but after using db_mgmt_misp.py and successfuly downloading some event, i'm not able to find them through cve-search web interface like others CVE.

Maybe i havn't understand what cve-search does with misp event ?

Can you help me ?

Thanks

[2016-04-04 13:58] PidgeyL commented on #153
Hi!
What CVE-Search does with MISP, can best be explained with an example:
Angler is an exploit kit. Exploit kits are very dangerous, because they are widespread, and not targeted. One of the CVEs Angler exploits is CVE-2015-5560. Your MISP might contain this kinds of information.

CVE-Search currently looks for all the entries in your MISP database containing CVEs, and then looks for the "Threat

[2016-04-04 14:41] Antho59 commented on #153
Ok thanks ! though cve-search could store misp's events like CVE into the database and then we could use search index to find them but i was wrong

Thanks

[2016-04-04 19:37] sugusrojo commented on #147
Any idea @adulau @PidgeyL ?
Thanks!

[2016-04-04 23:02] tunkaflux commented on #151
For MacOS X 10.11.4 (El Capitan):

**Prerequisites:** [Homebrew] (http://brew.sh/) needs to be installed
**Installation:** brew install python3 mongodb redis

Homebrew will also tell you how to start mongodb & redis.

Then just follow the Linux instructions and you will have a working cve-search instance.

[2016-04-04 23:46] adulau commented on #151
Thank you for the test.

[2016-04-04 23:55] adulau commented on #153
For your information, there is another way to integrate cve-search into MISP. It's to use the cve MISP modules, this allows to auto expand information from CVE number directly in MISP. Here is a screenshot below:

![misp-cve-module](https://cloud.githubusercontent.com/assets/3309/14267490/1f1bc240-fad1-11e5-9cb3-b9bded028a88.png)

More can be done using misp-modules. https://github.com/MISP/misp-m

[2016-04-05 00:27] adulau commented on #147
Thank you for reporting. This should be fixed.

[2016-04-05 00:27] #147 closed

[2016-04-05 08:15] Cris-GG commented on #152
Thank you for your answer adulau.
I tried the -i tag but it didn't work for me. However, I tried to do the same in another computer, assigning more RAM, and everything work perfectly. Thanks for your help!

[2016-04-05 09:34] Antho59 commented on #153
Ok thanks , it is possible to add some collection into the update.py ? like some specific vendor cve ?

[2016-04-06 10:51] adulau commented on #153
Sure for the first question. That's the whole design of cve-search you can add additional sources.

For the web interfaces, the ranking is currently not included (only via the command line). That's maybe something will work on too. @PidgeyL what do you think?

[2016-04-06 12:17] PidgeyL commented on #153
I'm currently working on the plugin feature. I think we should move the MISP stuff to a plug-in, since not all our users will have a MISP platform to clone from.

[2016-04-06 13:14] Antho59 commented on #153
Nice, because i saw that CVE are ordered by "last major update", so i saw old CVE first instead of the new one each day

[2016-04-13 09:06] danje57 opened #155 "Add a send Email button"
Hi,

I try to add a Email button on the table.html template

The email button should send an email to our help desk which could create a ticket to the appropriate team.

So I put a button before the ID column of the table.html template.

I've created a javascript that retrieve information regarding the CVE, using:

{{ c['summary'] }}
{{ c['references'] }}
{{ c['vulnerable_configuration'] }}
{{ c['

[2016-04-13 09:13] PidgeyL commented on #155
I would actually recommend not to implement it just yet. I'm currently working on a plug-in manager, so you could make this a plug-in. This would make it a lot easier to implement as well.

[2016-04-13 09:18] danje57 commented on #155
Oh OK,
I'll wait so.

I though it was easy to add this functionality.
However I'm not specialist of Flask, Python.

Each day, we review all CVES and send some of them to our team for impact analysis and patching.
Since we make this job since 4 months now, I try to add this button.

Hope you'll publish your plug-in manager soon :-)

[2016-04-13 09:26] PidgeyL commented on #155
In that case, you might be interested in my [Vulnerability Management tool](https://github.com/NorthernSec/Vulnerability-management). Due to lack of time, I paused development, but the initial version is ready. It takes the CVE-Search api to automatically fill its database, and can handle multiple teams reviewing vulnerabilities

[2016-04-13 10:44] danje57 commented on #155
Thanks, Tried to install it however it doesn't find my Postgresql Listener on port 5432.

But my postgresql is listening on it.

[2016-04-13 10:46] PidgeyL commented on #155
Let's take this discussion to the Issues of the tool, I'll see how I can help

[2016-04-13 10:56] danje57 commented on #155
Ok thanks.

[2016-04-15 10:06] danje57 commented on #155
Ok, just installed the development branch and installed the bookmark plugins.
It works.
Now I'need to find how to create the functionality I need:

- Add a Eail button on the table.html page that send an email regardingthe selected CVE

Will check the code.

[2016-04-19 10:40] danje57 opened #156 "CVE Search - Vulnerability Management"
Hello,

I've a small question and/or idea regarding CVE-Search

I'm using CVE-Search since 6 months now.
Everyday I've a look on CVE update, I check my CMDB to find relevant CVEs, then I notify my teams by Email about new CVE's and new patch to apply.

These tasks are performed manually, so I would like to know, if it's possible to have a script that will check CVE's database against my CMDB to ob

[2016-04-19 10:50] PidgeyL commented on #156
Hello @danje57
First of all, thanks for using CVE-Search for such a long time already. It's good to hear people are using our tool :)

Like I mentioned before, this is what [NorthernSec's vulnerability manager](https://github.com/NorthernSec/Vulnerability-management) is supposed to do. I know you had a rough time trying to get it working, and I'll see next week if I can get it working again. I cre

[2016-04-19 12:20] danje57 commented on #156
Hi @PidgeyL,
Thanks for your time.

If you have time to help I appreciate it.
However I don't have to waste your time.

I've also studied the possibility to use rt and/or rtir for that task but it's not easy.

[2016-04-26 17:51] IvanBlock opened #157 "How to get CVE info for products with curly braces in names/versions? (e.g. 12.2(50)SE1)"
Hello

If I try to get CVE info for software with “(" or “)” in name it’s not working. E.g.
curl "https://cve.circl.lu/api/search/cisco/ios:15.5” - works perfectly
however these requests return nothing
curl "https://cve.circl.lu/api/search/cisco/ios:15.5(2)T”
curl "https://cve.circl.lu/api/search/cisco/ios:15.5%281%29t1”

The question is: how to deal with curly braces in the requests?

[2016-04-28 15:26] IvanBlock commented on #157
Any ideas? I can see that vulnerable versions of Cisco IOS are mentioned in the response of first request, so they must exist in database. Is something wrong with search input parser?

[2016-04-28 15:26] IvanBlock commented on #157
Any ideas? I can see that vulnerable versions of Cisco IOS are mentioned in the response of first request, so they must exist in database. Is something wrong with search input parser?

[2016-04-28 18:54] PidgeyL commented on #157
I've noticed similar things before. It has to do with the encoding ( `(` and `%28` )

[2016-04-28 22:52] chandanbn opened #158 "Missing CVSS v3 scores"
Should not ignore CVSS v3 scores in NIST NVD data, and when a v3 score is present, it should be the default value of "cvss" instead of v2 score.

[2016-04-29 06:12] PidgeyL commented on #158
Hello @chandanbn, Thanks for the remark.

I agree we should implement the CVSS v3 score as well, however, I think there needs to be some discussion about how we'd implement it. Things to discuss would be:
 * Do we save both CVSS versions + sub versions?
 * Do we display CVSS v3 on the index page where possible, and if so, how do we distinguish between v2 and v3?
We need to keep integrity in mind.

[2016-04-29 19:38] chandanbn commented on #158
Thank you for looking into this.

Starting from v3, the version number will be part of the score. It would be good to have all the available scoring information saved in the MongoDB. Moreover it would be more useful and cleaner to exactly mirror all the information in NVD XML to MongoDB/JSON, than to select a few fields. That will make it future-proof: if the version number, CVSS parameters change

[2016-05-02 07:29] PidgeyL commented on #138
@sugusrojo:
With the recent implementation of the plug-in manager, I can start working on this plug-in for you :)
At first, I will link the entries to users, and thus make them private.

[2016-05-04 12:03] PidgeyL commented on #138
@sugusrojo: Your request has been made into a plug-in. You can find it [here](https://github.com/cve-search/Plugins/tree/master/plugins/notes/plugins). Please look at the instruction guide in the root of the repo for the installation procedure. If not clear, open an Issue in the plug-in repo.
Thanks for you feature request :)

[2016-05-04 12:03] #138 closed

[2016-05-04 12:04] PidgeyL commented on #142
Plug-in manager implemented in the latest release of CVE-Search (v2.0)

[2016-05-04 12:04] #142 closed

[2016-05-04 12:07] PidgeyL commented on #155
Now that the plug-in feature is ready, I will start to work on this plug-in request.

[2016-05-06 05:04] danje57 commented on #155
Thanks PidgeyL!!!

[2016-05-10 08:57] PidgeyL commented on #155
The plug-in is created. You can find the plug-in [here](https://github.com/cve-search/Plugins/tree/master/plugins/sendMail), and you can find the installation guide in the root of the repo. If you have any questions, let me know.

[2016-05-10 08:57] #155 closed

[2016-05-16 01:08] mathrock opened #160 "Bug in parsing CPE dictionary title"
There's a bug in the CPE dictionary parsing code that doesn't catch the ending title tag.  This results in additional extraneous data to be stored in the CPE 'title' attribute.

As an example using CVE-2015-7183 from
https://cve.circl.lu/api/cve/CVE-2015-7183:

Currently shows up like this:
[code]

Should be:
[code]
I have a pull request to submit to resolve the issue.

Thanks

[2016-05-16 08:57] #160 closed

[2016-05-18 13:26] jksecurity opened #163 "UnicodeError in db_mgmt_exploitdb.py"
Hello,

I just tried to install a fresh copy of cve-search (cloned repo yesterday) in my Ubuntu Xenial Docker container and I am facing the following error:

INFO:root:Starting exploitdb
Traceback (most recent call last):
  File "/cve-search/sbin/db_mgmt_exploitdb.py", line 55, in <module>
    for row in exploitcsv:
  File "/usr/lib/python3.5/csv.py", line 110, in **next**
    row = next(self.read

[2016-05-25 09:42] axeliniyes commented on #88
Hello, I think i have the same issue, can you tell me exactly where i found the files to download them manually?

thanks

[2016-05-25 15:17] Antho59 opened #164 "private source API"
Hi all,

It is possible to add private sources which need http authentication or certificate , api key ?

Thanks a lot

[2016-05-26 06:05] PidgeyL commented on #164
Now, with the plug-in manager, this is definitely possible. Have a look at [the MISP plug-in](https://github.com/cve-search/Plugins/blob/master/plugins/MISP/plugins/MISP.py)

[2016-05-26 13:52] PidgeyL opened #165 "Export lists to PDF or CSV"
It would be great if we could export specific search terms or filters to CSV or PDF.
How would we approach this? In its own separate plug-ins, or built in to the web interface?

[2016-05-26 13:57] PidgeyL commented on #74
Error seems to be fixed

[2016-05-26 13:57] #74 closed

[2016-05-26 13:59] PidgeyL commented on #133
@ttrostel Any updates?

[2016-05-27 13:39] axeliniyes opened #166 "Too much data for sort() with no index."
hello, running the db_mgmt_cpe_other_dictionary.py  script i got the following error:

Traceback (most recent call last):
  File "./sbin/db_mgmt_cpe_other_dictionary.py", line 59, in <module>
    collections = db.getCVEs()
  File "/home/vagrant/git/cve-search/sbin/../lib/DatabaseLayer.py", line 157, in getCVEs
    return sanitize(cve)
  File "/home/vagrant/git/cve-search/sbin/../lib/DatabaseLayer.

[2016-05-30 06:18] PidgeyL commented on #166
Hey @axeliniyes
Could you provide a bit more information? Is this the first time you install CVE-Search, and is this during the installation process, or is this on an instance that has run before?

[2016-05-30 10:21] axeliniyes commented on #166
Hello,

It is a first time installation.

[2016-05-30 10:25] PidgeyL commented on #166
And you're following the installation guide?

[2016-05-30 10:33] axeliniyes commented on #166
Yes, this one here

https://github.com/cve-search/cve-search/blob/master/doc/markdown/installation.md

[2016-05-30 10:34] PidgeyL commented on #166
try running `python3 db_mgmt_create_index.py ` first, and see if it works afterwards

[2016-05-30 10:37] axeliniyes commented on #166
ok, I'll try but I can't right now because I don't have access to my machine I'll tell you what happened tomorrow

[2016-05-30 10:39] PidgeyL commented on #166
Thanks :)

[2016-05-31 11:08] axeliniyes commented on #166
I got this:

[+]Success to create index id on cpe
[+]Success to create index id on cpeother
[+]Success to create index id on cves
[+]Success to create index vulnerable_configuration on cves
[+]Success to create index Modified on cves
[-]Failed to create index cves on [('summary', 'text')]: text search not enabled
[+]Success to create index id on vfeed
[+]Success to create index id on vendor
[+]Suc

[2016-05-31 11:08] #166 closed

[2016-05-31 11:21] PidgeyL commented on #166
Great to hear! I will update the installation script.

[2016-06-07 14:16] sugusrojo commented on #138
@PidgeyL
many Thanks! :)

[2016-06-08 08:47] adulau commented on #165
JSON templating to markdown or asciidoctor could be a way to do it.

I did a test:

https://github.com/cve-search/cve-search/blob/master/bin/cve_doc.py

that could be used as a starting point.

[2016-06-08 08:50] adulau opened #169 "If the value of scipid is below 13..."
[code]

[2016-06-13 10:52] PidgeyL commented on #165
I made an initial [reporting plug-in ](https://github.com/cve-search/Plugins/tree/master/plugins/Reporting). It currently only handles CSV. With some slight tweaking of the plug-in manager, I was able to pull filters from each plug-in

[2016-06-14 14:34] PidgeyL commented on #85
@remy Any updates?

[2016-06-14 14:36] PidgeyL commented on #149
Fixed a while ago

[2016-06-14 14:36] #149 closed

[2016-06-14 14:37] #164 closed

[2016-06-14 15:31] benji1000 opened #172 "TypeError: datetime.datetime() is not JSON serializable"
Hello,

I've been using CVE-Search for a few months now (thanks to the awesome devs of CIRCL, by the way!), but this week it stopped working correctly. I'm using the web API to query the database, and here is the stack trace when I run a simple query:

I believe the issue occurs since the deployment of CVE-Search v2. I pulled the last changes before running this query. Also, I've performed a full

[2016-06-15 02:33] adulau commented on #172
Looks like a bug. Thank you for reporting.

[2016-06-15 06:50] PidgeyL commented on #172
@adulau On which level should we fix this? In the database layer (in the sanitize function) or in the user applications? (index.py, minimal.py, api.py and possibly others)

[2016-06-15 09:35] PidgeyL commented on #172
Fixed this problem. I used the same technique @mattoufoutu used when he updated the terminal scripts. @adulau can you pull? We still might want to discuss where we handle these type of things (db layer, toolkit.py or in the interfaces)

[2016-06-15 15:14] adulau commented on #172
Merged.

[2016-06-15 15:14] #172 closed

[2016-06-16 08:38] adulau opened #174 "Vulnerability Database Catalog - VRDX"
To review:

https://www.first.org/global/sigs/vrdx/vdb-catalog

and verify if we are missing any sources.

[2016-06-16 09:44] benji1000 commented on #172
Thank you guys, it's working now! Date format seems to have changed a bit in v2 and I have NaN everywhere, but it's not that a big deal, I'll work on it.

[2016-06-23 08:49] benji1000 opened #175 "Changes in the date objects since v2?"
Hello,

I have the feeling that since the v2 update, things got a little different regarding the name of some variables. I'm using PHP, and here are some steps of my code:

[code]

Then I loop through $cveArray to retrieve some properties:

[code]

Until recently, I could get the date of creation and modification of a CVE using:

[code]

But as I said in a [previous post](https://github.com/cve-se

[2016-06-23 08:56] PidgeyL commented on #175
Hello @benji1000
Yes, dates changed to real dates between V2 and V2.1 (see the [changelog](https://github.com/cve-search/UpdateLog) and [release notes](https://github.com/cve-search/cve-search/releases)).

We currently don't have a good way to communicate this type of info, except the links mentioned above, and @adulau and my twitter account. You can also keep an eye on the #CVESearch hash on Twit

[2016-06-23 09:07] benji1000 commented on #175
Oh, right. I took a look at the changelog but didn't notice this change. Actually, I did notice it, but I didn't think it was a breaking change.

So I think the problem is not really in the means that you use to communicate this type of info (Github changelog and release notes are fine for me), but maybe in the way you do it? I don't have a lot of experience in software releases, so correct me if

[2016-06-23 09:09] PidgeyL commented on #175
It was mentioned in the changelog (first link), but you have a fair point. We'll keep that in mind for future releases.

[2016-06-23 09:30] benji1000 commented on #175
Thank you. And thank you for your quick support, it's really appreciated!

[2016-06-23 09:30] #175 closed

[2016-06-27 18:43] jbmaillet commented on #151
Installation procedure for **Debian stable 8.5 aka Jessie** - more precisely debian-8.5.0 (2016-06-04).

Fresh out of install: install 'sudo', add relevant user(s) to the sudo group, log them off/on.

Then mongo:

[code]

The shipped mongodb version is v2.4.10, which does not enable text search by default (it's on for >= 2.6). You most probably want this, plus avoid some warnings on cvs-search too

[2016-06-27 19:04] jbmaillet opened #178 "hardcoded python version requirement in shebang"
As of today (90e8400):

[code]

...explictely require python3.3.

Also these:

[code]

This should be handled in a cleaner way, checking for **minimal** Python version.

[2016-07-03 20:10] Carbonak opened #179 "Web Interface"
I would like to access the web interface when it running from my host machine. CVE-Search is currently setup in an Ubuntu 14.04 VM in Virtualbox. I have been unsuccessful at figuring out how to make this happen. Is there a way to change the listening address to my guest's IP and port 5000?

[2016-07-04 05:47] jbmaillet commented on #179
My 2 cents:

The IP/port default to 127.0.0.1/5000, but can be setup in `etc/configuration.ini` (to be initially copied from `etc/configuration.ini.sample`). Beyond that, this is a question of host/VM setup.

[2016-07-04 06:32] PidgeyL commented on #179
@jbmaillet is right. @Carbonak, you should check the `./doc/` folder for the documentation

[2016-07-04 06:37] #179 closed

[2016-07-07 12:47] jbmaillet commented on #178
As this is both
- not a bug (just an undocumented habit "cve-search is meant to be used bypassing the shebang")
- a low priority minor enhancement

....reduce pollution here by closing it, and opened in my fork instead:

https://github.com/jbmaillet/cve-search/issues/2

[2016-07-07 12:47] #178 closed

[2016-07-07 13:31] jbmaillet commented on #32
For the record.

Came accross this, searching through LWN archives:

**DWF - Distributed Weakness Filing**

- Very young (March 2016),
- yet seems to come with someone with enough legitimacy _and_ corporate backup/listening to have a possible usefulness (in the future?),
- csv so far = indisputably parsable.

https://www.redhat.com/fr/about/blog/introducing-dwf-project-vulnerability-reporting-done

[2016-07-14 17:40] sugusrojo opened #181 "pymongo.errors.ServerSelectionTimeoutError in Web Interface"
Hi!
I have a problem in Ubuntu 14.04.

python3 index.py

`Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/flask/app.py", line 2000, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python3.4/dist-packages/flask/app.py", line 1991, in wsgi_app
    response = self.make_response(self.handle_exception(e))
  File "/usr/local/lib/pyth

[2016-07-15 05:50] PidgeyL commented on #181
Did you shut down the Mongo database while the webserver is running?

[2016-07-20 12:14] JFC-MC opened #182 "./db_updater.py -c -v complains: "[!] Could not find plugin loader file!""
Hello,

I'm trying to get cve-search up and running. I followed the instructions given on https://github.com/cve-search/cve-search/blob/master/doc/markdown/installation.md and at the step "Updating the database" I stuck with following error:
`root@stat:/opt/cve-search/sbin# python3 db_updater.py -c -v
==========================
Wed 20 July 2016 11:57
==========================
Starting cves
Not mo

[2016-07-22 06:12] PidgeyL commented on #182
It doesn't matter if it cannot find the plugin loader file. The script doesn't break, it just warns you.
I tried to write the plug-in manager so that, if anything regarding plug-ins fails (either one plug-in fails, or the loader fails), it doesn't impact CVE-Search. I'll create a dummy place-holder to prevent the confusion

[2016-07-22 13:15] JFC-MC commented on #182
BTW I traced it already with strace and found that
cp /opt/cve-search/etc/plugins.txt.sample /opt/cve-search/etc/plugins.txt solves this issue.
(It turned out that it was just about the absent file plugins.txt)

[2016-07-22 13:19] PidgeyL commented on #182
That's what the warning said and why there is a sample file in the ./etc folder.

[2016-08-01 07:43] MarcoSchroeder opened #184 "Error in search_cpe, sre_constants.error: multiple repeat"
Inputs like g++ rasie an error.
It should be possible to use the function re.escape to prevent this.
https://docs.python.org/3/library/re.html#re.escape

`$ python3 bin/search_cpe.py -s g++
Traceback (most recent call last):
  File "bin/search_cpe.py", line 59, in <module>
    search(cpeSearch)
  File "bin/search_cpe.py", line 39, in search
    res = db.getCPEMatching(re.compile(cpe, re.IGNORECASE

[2016-08-03 09:07] MarcoSchroeder opened #185 "Wrong Size calculation in Config.getMaxLogSize"
In getMaxLogSize the multiplier for MB is 1024, it should be 1024². Same for GB.

[2016-08-03 09:18] PidgeyL commented on #185
Thanks! Seems we indeed skipped "kb". I fixed this, we'll pull this to the main branch ASAP.
Actually, While I was at it, I fixed another bug in the same function, so thanks ;)

[2016-08-04 13:01] JFC-MC opened #187 "API documentation"
Hello,

Is there any documentation on cve-search API?
Or is it that simple as just /api/search/VENDOR/PRODUCT:VERSION? or is there something else beyond these three variables that can be used within this API?

Thanks.

[2016-08-05 11:12] #182 closed

[2016-08-05 12:07] PidgeyL commented on #132
@dleyanlin Is this issue solved?

[2016-08-05 12:09] #152 closed

[2016-08-05 12:12] PidgeyL commented on #156
Hello @danje57,
Coming back on this issue, with the new plug-in manager you could very easily script a simple notifier. If you're interested, I can give you some guidelines, either here or in chat

[2016-08-05 12:13] PidgeyL commented on #153
The plug-in is available [here](https://github.com/cve-search/Plugins/tree/master/plugins/MISP)

[2016-08-05 12:13] #153 closed

[2016-08-05 12:13] PidgeyL commented on #185
Fixed

[2016-08-05 12:13] #185 closed

[2016-08-05 12:15] #133 closed

[2016-08-05 12:17] PidgeyL commented on #163
@jksecurity Sorry for the late reply. Can you see if you still have the error? If so, we'll have a look

[2016-08-05 12:18] PidgeyL commented on #75
@jimmyfive
Are all the issues you mentioned in this threat solved? If so, I'll close it

[2016-08-05 12:21] PidgeyL commented on #85
@remy Could you try [this installation procedure](https://github.com/cve-search/cve-search/issues/151)? I'm going to close this issue, if it still doesn't work, just re-open it.

[2016-08-05 12:47] #85 closed

[2016-08-05 12:48] #165 closed

[2016-08-05 13:26] PidgeyL commented on #184
Above commit fixes the issue.
It will take a little while before we push it the main branch, because there is a new sub-release coming up. This bugfix will be part of it.

[2016-08-05 13:26] #184 closed

[2016-08-05 14:36] #78 closed

[2016-08-09 14:20] jrmullins commented on #187
There is quite a few end points if you look in the code

https://github.com/cve-search/cve-search/blob/master/web/api.py#L73

[2016-08-09 19:52] JFC-MC commented on #187
Thanks. It'd be nice if it'll be documented in "official" way (like you already have for other things https://github.com/cve-search/cve-search/tree/master/doc/markdown)

[2016-08-09 20:10] adulau commented on #187
The API is documented on the public API:

https://www.circl.lu/services/cve-search/#public-web-api-of-cve-search

I'll add the markdown doc in the default cve-search code. Thanks for the info.

[2016-08-09 20:17] adulau commented on #187
Fixed in 3ddb6c91618d22f808dbcbb5eba0c662e6f31d65

[2016-08-09 20:17] #187 closed

[2016-08-09 20:22] JFC-MC commented on #187
Thanks a lot!

[2016-08-10 05:07] danje57 commented on #156
Hi PidgeyL,

Thanks for your following.
Will be happy to have your help here.

[2016-08-11 08:46] tzimme opened #188 "No data in vendor-collection after running db_updater.py"
The vendor collection remains empty after updating the database.

`db.vendor.find()` doesn't return anything(all other collections do)

`api/browse/ `returns
`{   "product": null,    "vendor": [] }`

`api/browse/zyxel` returns
[code]

db_updater.py returned
` [!] Could not find plugin loader file!`
before finishing

[2016-08-11 08:49] PidgeyL commented on #188
What's your version of `flask-login`? (sudo pip3 freeze | grep -i flask-login)

[2016-08-11 08:54] tzimme commented on #188
`sudo pip3 freeze | grep -i flask-login)` did not return anything

flask-login version is 0.3.2

[2016-08-11 08:56] PidgeyL commented on #188
As I thought. That's the issue (brackets needed to be removed, btw).
The requirements.txt file specifies `flask-login<=0.2.11`
Version 0.3.x changed `current_user.is_authenticated()` to `current_user.is_authenticated` (function to variable). It breaks a lot of things, hence the specified version.

[2016-08-11 08:57] PidgeyL commented on #188
On the

    db_updater.py returned
      [!] Could not find plugin loader file!
    before finishing

part, that's normal, if the file is missing. It's not blocking any process of continuing, it's just a warning

[2016-08-11 08:58] tzimme commented on #188
Thanks a lot

[2016-08-11 08:58] PidgeyL commented on #188
Let me know if it fixes all the issues

[2016-08-11 09:44] tzimme commented on #188
it fixed the errors occurring when browsing by vendors,

unfortunately the vendor collection in the db still remains empty.

`curl http://127.0.0.1:5000/api/browse/microsoft` returns `{}`

[2016-08-11 10:01] tzimme commented on #188
`./db_mgmt_vendorstatements.py -v` returns "Not modified"

[2016-08-11 11:24] tzimme commented on #188
i checked all requirements and lxml and irc were missing.

now the db_updater.py outputs
`==========================
Thu 11 August 2016 11:21
==========================
Starting cves
Not modified
cves has 78541 elements (0 update)
Starting cpe
Not modified
cpe has 114045 elements (0 update)
Starting cpeother
Not modified
cpeother has 0 elements (0 update)
Starting vfeed
Not modified
vfeed has 7932

[2016-08-11 11:29] PidgeyL commented on #188
vendors is not the same as vendor statements. Vendor statements are statements made by the vendor (see example below). `http://127.0.0.1:5000/api/browse/microsoft` returns a list of products of the vendor (see second example below). To fix the empty vendor collection, try the following command in the mongo prompt:
[code]

**Example of vendor collection**
[code]

**Example of `http://127.0.0.1:5000

[2016-08-11 11:33] tzimme commented on #188
[code]

http://127.0.0.1:5000/api/browse/microsoft still outputs {}

[2016-08-11 11:34] PidgeyL commented on #188
try updating the database now

[2016-08-11 11:35] tzimme commented on #188
i did :/

WriteResult({ "nRemoved" : 1 })

null

WriteResult({ "nRemoved" : 0 })

null

ran db_updater.py

WriteResult({ "nRemoved" : 1 })

null

[2016-08-11 11:39] PidgeyL commented on #188
Odd. what did the output say? Not "not modified", I assume. (just copy me the output of the small part, not everything)

[2016-08-11 11:41] tzimme commented on #188
[complete output](http://freetexthost.com/fmvgya23ay)

[2016-08-11 11:58] tzimme commented on #188
Starting vendor
<gzip _io.BytesIO object at 0x7f23eac14938 0x7f23eac07a90>

vendor has 0 elements (0 update)

[2016-08-11 12:01] PidgeyL commented on #188
you don't always have to use db_updater. Try db_mgmt_vendorstatement, for ease of debugging ;)
if `f` is empty, you might have a problem accessing the file. Try browsing to https://nvd.nist.gov/download/vendorstatements.xml.gz and see if you get a compressed file containing an xml

[2016-08-11 12:10] tzimme commented on #188
yes, i can download the xml.gz file.
`db_mgmt_vendorstatements.py -v` outputs `Not modified`

and ```
./db_mgmt_vendorstatements.py -v
<gzip _io.BytesIO object at 0x7fa45a0e8888 0x7fa45a0da048>
after `db.info.remove({"db":"vendor"})`

[code]

[2016-08-11 12:22] tzimme commented on #188
[dumping f instead of printing it returns this](http://freetexthost.com/yxms3et2uh)

[2016-08-11 12:48] PidgeyL commented on #188
that is not normal. Are you sure you're working with the latest version of CVE-Search?

[2016-08-11 12:56] tzimme commented on #188
yes

[2016-08-11 13:03] PidgeyL commented on #188
I think we'll need to get @adulau involved. I'm not too familiar with sax.

@adulau: Can sax handle the zipfile with the xml directly?

[2016-08-12 08:34] tzimme commented on #188
tested on another machine with the same result.
`{ "product": null, "vendor": [] }`

[2016-08-12 08:46] PidgeyL commented on #188
And what's your version of sax? what operating system?

[2016-08-12 10:12] tzimme commented on #188
I couldn't find anything about sax' version. Os is Debian 8.

[2016-08-12 11:08] Natureshadow commented on #188
(I'm a colleague of @tzimme)

I have no idea how to find out which SAX parser is used. I know that in Perl there is a whole lot of them, but in Python I only find the standard library's xml.sax module.

The Python version is 3.5.2.

[2016-08-17 08:37] madkoala commented on #188
I had the same issue, so I tried to debug db_mgmt_vendorstatements.py script.
The problem was in VendorHandler class's startElement method and endElement method.
You have to change following:
"if name == 'nvd:statement':" to "if name == 'statement'"
I think there had been a change in the schema, so 'statement' had been changed to 'statement'.
I hope it helps.

[2016-08-17 08:43] PidgeyL commented on #188
Thanks for your input, @madkoala! @tzimme, could you check if that solves your problem? If it does, I (or anyone who feels like it) will make the changes, and update CVE-Search.

[2016-08-17 08:44] madkoala commented on #188
@PidgeyL Yes. It solved my problem.

[2016-08-17 08:49] PidgeyL commented on #188
Will you create a pull request, or do I make the changes?

[2016-08-17 08:54] madkoala commented on #188
@PidgeyL I think you would be better. Thanks for great effort. :+1:

[2016-08-17 09:00] PidgeyL commented on #188
I commited the changes into my repo. Before I push them, I'll check them, as well as some other changes I made. As this is not a severe bug, I hope you don't mind I wait a bit, until I'm sure my latest changes didn't break anything ;) @tzimme: Thanks for bringing this to our attention, @madkoala: Thanks for the fix! I'll close the issue once I confirmed the fix

[2016-09-01 14:03] terlich commented on #143
@adulau @sugusrojo
Running into the same issue on windows.I always need to modify the line like this so it will work:
subprocess.Popen(source['updater']).wait()

is there any fix for this issue yet?

[2016-09-01 14:11] terlich opened #189 "db_updater.py runs very slow on windows for cpe update"
Hi Guys,

Can anyone tell me why is the db_updater.py running so slow on a windows environment when reaching the cpe update part? however first part of cves update is running fast. When i have only ~100 cpes to update it may take 2 hours easily. i don't have network issues at all. During the whole update period the mongod process is consuming 95-100% of the CPU.

![image](https://cloud.githubuserc

[2016-09-01 14:26] PidgeyL commented on #189
Because there are loads of CPEs to store. As the progress bar states, that is only preparing the CPE list. After that, a bulk insert is called, which takes a long time.
I don't know if there is a difference between the pymongo implementation for windows and linux, but it takes a fair amount of time on both platforms.

[2016-09-01 14:51] terlich commented on #189
@PidgeyL Thanks for clarifying that.
So as i understand it doesn't do some sort of a diff upon update? it doesn't check for the latest cpe stored in the DB and only fetches the missing cpes?
If i'll increase the frequency of calls to db_updater to do daily calls will it be much faster?

[2016-09-01 14:54] PidgeyL commented on #189
the diff happens before the database interaction. So yes, when there are new CPEs, it does not go through the whole list again

[2016-09-01 19:44] noxdafox opened #190 "REST API for searching only by product"
Greetings,

I am building a tool for scanning disks and collect vulnerable applications and I'm using CVE search to collect information about vulnerable applications.

My current issue is that I cannot easily deduce a vendor of an application.

Moreover I found few inconsistencies when searching few vendors/applications:

[code]

[code]

[code]

[code]

[code]

[code]

My question is: would it be

[2016-09-02 09:24] PidgeyL commented on #190
Currently, there is not. However, this brings me to a point I wanted to raise with @adulau: Plug-in manager for the API. Database-wise, this request is perfectly feasible.
I'm leaving on holidays until the end of September though, so development on this might take a while.

[2016-09-02 09:31] noxdafox commented on #190
That's good!

Issue is I might be missing vulnerabilities for certain applications (gnutls being an example) yet the tool is working for most cases.

[2016-09-02 09:35] PidgeyL commented on #190
As I'm not the only one working on the tool, I'd like to check with @adulau first if this is the direction we want to go in. But if he gives the green light, we can work together and see how to approach this.

I would propose working in a similar matter the plug-in manager works. Maybe worth having a look in the code. (places to look are: `./web/index.py`, lines 294-338 and `./lib/PluginManager.py

[2016-09-03 15:55] #189 closed

[2016-09-05 11:31] terlich opened #191 "in some cves the cvss property is of type str instead of float"
Hi Guys,

I've noticed that in some cves like CVE-2016-1859 , CVE-2015-2150 or CVE-2015-0426 the "cvss" score is saved as string in the DB and not as float. Actually there are 728 records in the cves collection currently with this problem. It makes it harder to compare this field when running queries on this collection.
Any ideas why it happens?

[2016-09-06 05:07] madkoala opened #192 "vfeed.db file not available"
According to http://www.vfeed.io/, vfeed database is now not downloadable publicly.
They removed link to http://www.toolswatch.org/vfeed/vfeed.db.tgz, so now db_updater.py says:
"Cannot open url http://www.toolswatch.org/vfeed/vfeed.db.tgz. Bad URL or not connected to the internet?"

Fortunately, the database can be downloaded with the condition of no commercial use.

[2016-09-06 05:34] adulau commented on #192
Thank you very much for pointing this out. With the change of licensing terms of vfeed, I can assume adding their feed is no more compatible with a free software licensing.

So we will have to update cve-search to, at least use, the ref map of MITRE:

https://cve.mitre.org/data/refs/

The  CVE reference map is already download in cve-search and loaded in a collection:

https://github.com/cve-searc

[2016-09-09 10:41] rlintu commented on #156
Hi,
I solved this problem by writing a perl script that checks if there are new issues for components we are using and then generates a mail if there is a one. There are two parts: the shell script just fetches CVEs for the components on regular basis; the perl script compares two latest results and generates mail for new findings.

[2016-09-09 11:06] rlintu opened #193 "How to detect issues for versions 'x.y.z and previous versions'"
Hi,
let's assume you are using openssl version 1.0.1r and want to check issues by using search

[code]

I guess the version number identification is done using Software version configuration information. That works fine in most of the cases. But for example in https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2016-2109 version reference is done as

[code]

Now the the above search gives null re

[2016-09-13 11:44] PidgeyL commented on #191
is this an older database you have been keeping for a while, throughout CVE-Search updates?

[2016-09-13 11:47] PidgeyL commented on #192
Same issue as #127
We will extract as much info as possible from other sources, and make the vfeed data available through plug-ins. I will work on that when I'm back from holidays

[2016-09-13 12:03] terlich commented on #191
Hi @PidgeyL,
i thought it happened because i didn't repopulate in a while so i repopulated again a few days ago. After repopulating the DB i didn't see those 728 records anymore but today i saw the problem again on ~200 cves.
Examples from today: CVE-2016-4480, CVE-2016-4565, CVE-2014-9222 and there are about 200 more all of which were modified in the 2 weeks.
Can you reproduce it?

[2016-09-13 12:04] adulau commented on #192
FYI, the MITRE ref database should already provide 80% of the references.

[2016-09-13 12:18] PidgeyL commented on #191
Not at the moment, I'm on holidays until the end of September. If the problem still occurs when I'm back, I'll have a look

[2016-09-13 19:12] noxdafox commented on #190
Please let me know if you get the OK and how can I help.

[2016-09-14 08:15] terlich commented on #191
ok thanks

[2016-09-14 10:01] adulau commented on #190
Sure. I can update the api to make a full search of the application (with as you mention the risk of false-positive).

[2016-09-15 09:58] igama opened #195 "Vendor Statements URL as changed"
Before: 'vendor': "https://nvd.nist.gov/download/vendorstatements.xml",

Currently NIST doesn't provide the uncompressed vendorstatements file, only compressed versions:

https://nvd.nist.gov/download/vendorstatements.xml.gz
https://nvd.nist.gov/download/vendorstatements.xml.zip

[2016-09-15 11:25] MarcoSchroeder opened #197 "Web Interface: extending row of cve information"
To extend a row, to view more than 5 lines, you need to click beside the textbox. This box can not be seen by the user.
If text, which is currently hidden, extends far to the right, the user is not able to see, that the box is extendable.
It would be more intuitive to have a plus or similar to extend the view.

[2016-09-17 09:44] madkoala opened #198 "db_mgmt_ms.py: changed excel sheet name should be applied."
executing db_mgmt_ms.py displays parsing error.

Reason: BulletinSearch.xlsx file's sheet name has been changed to "Export Bulletin Search Spreadsh".

Workaround (Choose one of three):
[code]

Thanks.

[2016-09-17 09:52] adulau commented on #198
Thank you very much for the notification and the various proposed fixes. I used your option 2 which seems more appropriate if Microsoft decides to change again the sheet name. Cheers.

[2016-09-17 10:36] adulau commented on #195
Fixed in #196. Thank you.

[2016-09-17 10:36] #195 closed

[2016-09-17 10:48] adulau commented on #192
Some updates regarding this issue, I added a small script to show how to use the MITRE ref database to get the cross-references.  https://github.com/cve-search/cve-search/blob/master/bin/cve_refs.py

We will disable vfeed by default to avoid the error (and users can still request the link if they want to get this proprietary feed).

[2016-09-21 16:24] igama commented on #188
@madkoala @tzimme @PidgeyL PR was merged :)

[2016-09-21 20:26] #188 closed

[2016-09-29 18:06] pombredanne opened #201 "Is IRC/XMPP a hard requirement?"
Hi:
I see that both irc and sleekxmpp are required: is this a hard requirement or can cve-search work finr without this?
Thanks!

[2016-09-29 22:02] adulau commented on #201
Hi,

Nope, it's not a hard requirement.  cve-search can work without it.

Cheers.

On Thu, Sep 29, 2016 at 8:06 PM, Philippe Ombredanne <
notifications@github.com> wrote:

--
--                   Alexandre Dulaunoy (adulau) -- http://www.foo.be/
--                             http://www.foo.be/cgi-bin/wiki.pl/Diary
--         "Knowledge can create problems, it is not through ignorance
--

[2016-09-29 22:14] pombredanne commented on #201
Thanks!

[2016-09-29 22:14] #201 closed

[2016-10-08 09:08] pombredanne opened #203 "Backport to Python 2.7"
I would like to be able to run cve-search on Python 2.7

[2016-10-09 14:23] PidgeyL commented on #203
I don't think we want to go that route, to be honest. It's a very large code size, to support in two languages, let alone the plug-ins and all the recent changes...

[2016-10-10 08:09] pombredanne commented on #203
@PidgeyL I was more thinking along the lines of ensuring the codebase works on both Python 2 and 3, not two codebases.

[2016-10-10 08:16] PidgeyL commented on #203
I know, but the problem is that it takes a lot of functions, a lot of checks. The code will become less readable, and even harder to maintain. If you want to do it, have a try, but I don't think @adulau or me will have a try, especially since python 2.7 will be out of support anyway.

-----Original Message-----
From: "Philippe Ombredanne" <notifications@github.com>
Sent: ‎10/‎10/‎2016 10:09
To: "c

[2016-10-10 08:49] pombredanne commented on #203
@PidgeyL Python2 is not going to be out of support for a very long while and supporting both versions should not be a big problem. To better illustrate what I mean I will try to send a PR in the next few weeks. From a quick look there are very few --if any-- Python3 language feature that you use. Most code works as is with minor modifications. If fact there is even some code in your tree that work

[2016-10-10 08:52] pombredanne commented on #203
@PidgeyL you wrote:

Actually you will see in the PRs. This really minor and does not require much at all.

[2016-10-10 08:56] adulau commented on #203
Python 2 is EOL (PEP 373). All major distributions include nowadays Python 3. @PidgeyL and myself are already committed to Python 3 in production.

If you have time to spend on this backport, you can still create a branch that we could add in the official repo but you will need to maintain it. Do you have a specific use-case?

[2016-10-10 10:39] pombredanne commented on #203
@adulau Python2 will be supported until at least 2020 which is a very long way. The bulk of the code written and used by the Python community is still on Python2 (see https://hynek.me/articles/python3-2016/ ) and Python3 is still a blip on the radar at this stage.
And the bulk of the code I use has not yet been ported to Python3 (though it will eventually be migrated in the future). Any usage of b

[2016-10-15 11:10] hynek commented on #203
As the author of the linked article I feel misquoted.  Python 3 is not a blip on the radar, it’s in solid double percents overall and quite popular for new project (which is sadly impossible to measure).  At this point, [Python 3 is better supported than Python 2](https://blogs.msdn.microsoft.com/pythonengineering/2016/03/08/python-3-is-winning/) so I consider a completely valid decision for resou

[2016-10-15 14:07] pombredanne commented on #203
@hynek Thanks for chiming in. Sorry if you think I misquoted you. Accept my apologies.

I am not discussing the choice of Python 3-only here: this is indeed a rational choice in particular for an application ... just that supporting both (e.g. being polyglot) is likely a non-issue here.

[2016-10-31 11:55] pallix opened #205 "Provide official docker image"
Hi,

Very nice tool! It would be very helpful if one official docker image for this project would be provided. This would ease the integration with software architecture using containers and lower the barrier to experiment with it.

[2016-11-07 14:27] PidgeyL commented on #192
**List of the vFeed data we're missing or is incomplete**

| vFeed table			| Status							|
| ---					| ---								|
|map_cve_oval		| Class, Title & CPE ID missing		|
|map_cve_saint		| Missing							|
|map_cve_hp			| Link missing						|
|map_cve_scip			| Missing							|
|map_cve_iavm		| Missing							|
|map_cve_snort		| Missing							|
|map_cve_suricata		| Missing							|
|map_cve_ms			| Informati

[2016-11-17 12:15] jbmaillet opened #207 "Any plan for a MongoDB 3.* branch?"
Browsing some mongo 2.6 doc, I noticed a "this version is approaching end of life" and went to:

https://www.mongodb.com/support-policy

"Last updated: October 25, 2016.
[...]
The lifecycle schedule can be found below, and it is applicable to Minor Versions and Major Versions of the Software. It is NOT applicable to Maintenance Versions of the Software.
Release / Release Date / End of Life Date
[.

[2016-11-20 12:37] adulau commented on #207
Thank you very much for the exhaustive feedback. I'll give a try to a travis-ci test to test with recent version of MongoDB.

[2016-11-20 12:39] adulau commented on #203
I'll close the issue. Feel free to contribute a PR if you want. Thank you.

[2016-11-20 12:39] #203 closed

[2016-12-01 16:39] PidgeyL commented on #192
We will replace vFeed with our new project: https://github.com/cve-search/VIA4CVE/
All help is welcome!

[2016-12-11 14:59] cloudtracer opened #210 "Search by patch identifier?"
How hard would it be to add the ability to search by patch identifiers? Such as MS-08-067?

[2016-12-12 06:59] PidgeyL commented on #210
Currently working on it ;) Currently, you can do it using the link feature, but it requires vFeed, which is not supported anymore.
You can play around with it in my branch, it will still take some bugfixing and some structure reworking, before the updates get pushed to the main branch, because when they are, it will be a new CVE-Search release

[2016-12-12 08:48] PidgeyL commented on #210
Currently, you can use `/link/map_cve_ms/msid/ms08-067`. I went and had a look, 067 might not be in the new data, as it's too old to be in the MS feeds.

[2016-12-19 21:53] lingfennan commented on #205
Since nobody replied to this thread yet. I built a cve-search docker image by myself and following are the instructions.

- Step 1: From mongo:3.4, install the dependencies.
[code]
Step 2: Start this docker image in interactive mode (docker run -it) and run the following commands
[code]
Step 3: Now you can run any commands (./bin/search.py) inside the container, as well as commit this docker image

[2016-12-30 10:19] adulau commented on #192
@madkoala for your information, the recent v2.2 release of cve-search including the VIA4CVE feed. I'll close the issue, if you see any missing sources or bugs, feel free to reopen the issue. Thank you for the initial notification, this was very useful.

[2016-12-30 10:19] #192 closed

[2016-12-30 20:55] adulau commented on #207
I did some tests with cve-search v2.2 and it works quite well with the latest MongoDB (compiled from source):

[code]

and on the following distribution:

[code]

[2017-01-09 11:49] hieronymus2016 opened #213 "Bad ranking value in db_dump.py -r output"
Hi,
I like this project. Currently working on "integration" with Graylog. Main part is already done but transfer of ranking value is still incorrect.
I perform regular scheduled dumps with db_dump.py for given period and forward it to graylog via nxlog with success. My goal was to send also ranking value already defined and verified. via db_ranking.py. So I simply added "-r" switch to my schedulle

[2017-01-09 11:55] PidgeyL commented on #213
@adulau could you have a look at this? I'm personally not using the ranking functionality

[2017-01-09 12:08] hieronymus2016 commented on #213
Just for clarification my procedure:
1. rank something, e.g. cve-search/sbin/db_ranking.py -c "vmware:vcenter_server" -g "my-company"
2. dump given perion, e.g. cve-search/bin/db_dump.py -r |jq '.|select(.cvss!=null)|select(.Modified|test("2017-01-03.?"))'

I expect that only vmware vcenter vulnerabilities would contain following output:
"ranking": [
    [
      {
        "my-company": 1
      }

[2017-01-10 00:16] glen-mac commented on #190
@adulau How did this progress?

[2017-01-10 12:37] PidgeyL commented on #190
Not yet. However, I would rather do the following (and any input would be nice):
in `/api/cvefor/`, I would like to make it so that the cpe can contain wildcards, like:
`/api/cvefor/cpe:2.3:a:*:emacs`
Thoughts?

[2017-01-10 13:43] jbmaillet commented on #207
Thanks for the update, and some news from the Debian side:

Debian testing aka stretch have switched from 2.6 to 3.2 last week (the update hit the mirrors I use on 20170104).

`Description:    Debian GNU/Linux testing (stretch)`

[code]

`Python 3.5.2+`

`pymongo (3.4.0)` (see below, point 4)

**TL;DR: with some adjustments, not related to cve-search at all, it works like a charm so far.**

From a

[2017-01-10 15:08] noxdafox commented on #190
Is that format standard? At least when querying /api/search I saw quite many differences. It's very difficult to deal programmatically with such discrepancies.

Searching within the list of vulnerability definitions for a given application is easier to deal when it comes to small differences in naming/versioning. The problem becomes a different deal if the logic needs to constructs a precise query

[2017-01-10 15:34] PidgeyL commented on #190
The re-working of the API will be done in the new release, with status codes etc. However, though I understand what you're asking, it is not possible for us to distinguish between "CPE not found" and "no CVEs for this CPE", as the CPE database is loosely built. The reason your first query does not return any results, is because that is not implemented yet. What I was wondering was if that would be

[2017-01-10 16:15] noxdafox commented on #190
The above queries where hypothetical examples, I know the APIs are not yet implemented.

The point I wanted to make was that if the CPE do not follow a well defined schema, it's very hard for a User to solve it programmatically considering the API does not distinguish a CPE not found from a CVE not found for such CPE.

Yet, I do agree on the fact that if the DB is loosely build, then would be bett

[2017-01-10 16:18] adulau commented on #190
@noxdafox Good point. Maybe we should expose the full indexing (the one from Whoosh) directly via the API like that the description which contains information that is not in the CPE will be included too.

[2017-01-10 23:45] glen-mac opened #216 "/browse Vendor listing returning empty array"
Just running into an issue, vanilla cveSearch install,

Hitting [http://127.0.0.1:5000/api/browse](http://127.0.0.1:5000/api/browse) gives the following:
[code]

Output from hitting /dbInfo:
[code]

And querying the DB:
[code]

Also, hitting /cvefor/phpmailer gives:
[code]

Hitting `browse/phpmailer` gives a blank array.

All things aside hitting `/search/phpmailer/phpmailer` gives the correct out

[2017-01-11 08:04] PidgeyL commented on #216
I just pushed a fix for this yesterday. It's a bug, caused when reworking the API... stupid, really.. see commit 3313970540679bf49fe5927982b4c648a37c6902
I will push try to get it in the master branch today

[2017-01-11 08:14] adulau commented on #216
It's merged in the master branch. Thanks for the report.

[2017-01-11 08:14] #216 closed

[2017-01-11 08:17] adulau commented on #213
Just to be sure that I understand, when you said every vulnerability, it's any vulnerability matching the cpe value "vmware:vcenter_server" or every single vulnerability?  If this is the later, it's definitely a bug.

[2017-01-11 09:55] hieronymus2016 commented on #213
Unfortunately ranking value is present in every single vulnerability not only matching defined CPE.

[2017-01-16 18:35] gmalmeida opened #218 "Is it possible to search by open source software name and version? i.e. I want to know all vulnerabilities of openssl 1.1.0c"

[2017-01-17 08:26] PidgeyL commented on #218
`https://cve.circl.lu/api/cvefor/cpe:2.3:a:openssl:openssl:1.1.0c`

This collection is empty, but if you look for other versions, you will see that vulnerabilities appear
e.g. `https://cve.circl.lu/api/cvefor/cpe:2.3:a:openssl:openssl:1.1.0a`

[2017-01-17 08:26] #218 closed

[2017-01-17 08:31] gmalmeida commented on #218
thanks!

[2017-01-17 10:13] gmalmeida commented on #75
I have the same issue running on a Ubuntu 16.04 VM. Process took more than 1 hour and still not completed.

[2017-01-17 10:17] PidgeyL commented on #75
Keep in mind, we're talking about ~81300 CVE's being compared to ~117400 CPE's. It's expected to be slow, especially on a VM.
The only thing is, I am not sure we need to keep this collection. @adulau: could we not just generate the title when the info is being queried, if not found in the regular CPE database?

[2017-01-17 13:58] gmalmeida commented on #75
@PidgeyL , would be nice to know from you how much time it takes in your setup (server, whatever you have).

[2017-01-17 14:11] PidgeyL commented on #75
Haven't installed one in a long time, so I wouldn't be able to tell, to be honest. In most instances, I don't even use the cpe_other

[2017-01-21 05:24] chagara commented on #207
just tried this on rhel 7.3 and mongo3.4.1-1 and everything worked correctly but, at the end of running
[code]
I get this:
[code]
not sure if that makes a difference.

[2017-01-23 09:24] jbmaillet commented on #207
@chagara, about `could not find plugin loader file!`: if you do not have a plugin configuration file (`etc/plugins.txt`) file, this is normal and nothing to worry about.

The exclamation mark in this trace make it sound a bit dramatic and should be removed IMO.

[2017-01-23 09:33] jbmaillet commented on #207
(About my original "MongoDB 3.* branch" issue: I didn't close it yet because I'll have the opportunity to deploy a new production instance from scratch running on 3.2 in the next week or so.)

[2017-01-23 09:43] PidgeyL commented on #207
Fair point, @jbmaillet. What would you suggest instead?

[2017-01-23 11:48] jbmaillet commented on #207
@PidgeyL:

Actually, nothing (no trace at all). I'm not too familiar with the lib PluginManager / Plugins code - I just use simple ones like "bookmark", "notes" and "seen", so there may be some corner cases I miss, but from my user perspective I can see 3 cases here:

1. There is no `etc/plugins.txt:. As a user, I chose not to use plugins. No trace.
2. There is an `etc/plugins.txt` and it's well f

[2017-01-23 12:49] PidgeyL commented on #207
Well, we've had people who wanted to use plug-ins, and didn't understand how to load them (they didn't remove the .sample from the example file). So perhaps a `[-]` could replace the `[!]` in case of a missing file, and remain for an ill-formed one. I'll open a new issue to track this; Thanks!

[2017-01-23 12:52] PidgeyL opened #219 "Error message on missing plugin.txt file"
As @jbmaillet mentioned in issue [207](https://github.com/cve-search/cve-search/issues/207#issuecomment-274468786), when the plugin.txt file is missing, it would be more advisable to give a different 'code' than `[!]`. Perhaps `[-]`?

[2017-01-24 13:34] jbmaillet commented on #219
OK, I got it about the users trying to use plugins, and not providing an `etc/plugins.txt`. So what have been done is add trace `[!] Could not find plugin loader file!` if this file is not there.

But now the problem is that users _not_ using plugins have this `[!] could not find plugin loader file! ` trace, and they presume they did something wrong, which is not the case - as seen [here](https://

[2017-01-24 13:37] PidgeyL commented on #219
I agree. I will implement it like this (no exclamation marks at all)

[2017-01-24 13:58] jbmaillet opened #220 "consitency: rename etc/plugins.txt to etc/plugins.conf"
(This old idea popped up to my mind while discussing #219.)

To be both consistent and more intuitive, `etc/plugins.txt `should be rename `etc/plugins.ini`.

`*.ini `or `*.conf `carry a meaning, whereas `*.txt `is not. Since the base of cve-search uses `*.ini `, let's stick to that. [Python configparser documentation](https://docs.python.org/3.5/library/configparser.html) also refer to "INI files"

[2017-01-24 14:08] PidgeyL commented on #220
The reason we took .txt, is because `etc/plugins.txt` and `etc/auth.txt` don't follow the `.ini` format.
I'm not aware if `.conf` follows a specific format or not. If it does, we probably need to think of a different extension still

[2017-01-24 14:49] jbmaillet commented on #220
Mmmh... good point. I'm a Linux person, but it is my understanding, at least from reading Python's confiparser doc, that the *.ini comes from the MS Windows world, and _must_ follow a `[section_foo]`, and the `bar_key = foobar_value` fields layout. So my suggestion for `*.ini` would be counterintuitive to users familiar with that, since plugins code does not use such layout.

So far for my "consis

[2017-01-24 14:52] PidgeyL commented on #220
No, I 100% agree with you, `.txt` is not descriptive enough. Since `.ini` is not ideal, maybe `.conf`. No extension would again be counter-intuitive, since we give every file an extension. @adulau, what do you think?

[2017-01-24 15:16] PidgeyL opened #221 "CVSS calculator in API"
It would be useful to be able to calculate the CVSS based on parameters given with the API.
Should we build this into CVE-Search, or do this as a plugin? Opinions?

[2017-01-27 13:09] jbmaillet commented on #221
As for me, if it's neither heavyweight/intrusive nor highly specialized, and I think this is the case here, this is an easy decision: it should be build into cve-search itself so that it benefits every user. Built-in also have the potential benefits of more testing/issue reports.

Note:
_I do not use the web API for now._ Instead, I import cve-search code, as I would do for a Python package and th

[2017-02-01 13:34] jbmaillet commented on #220
(Changed issue title: suggest etc/plugins.conf instead of etc/plugins.ini.)

[2017-02-01 16:00] maximilianhuber commented on #205
In the project https://github.com/sw360/sw360chores/tree/master/deployment/cve-search-server we have Dockerfiles and a docker-compose file to run cve-search with mongodb and redis in their own containers. It might be worth looking at them.

[2017-02-06 10:38] jbmaillet commented on #207
Back to the topic "Any plan for a MongoDB 3.* branch?":

From a fresh Debian testing install, cve-search v2.2-9-g4c165ef run fine with MongoDB v3.2.11.

As opposed to my dev machine, also Debian testing but that made the switch from 2.6 to 3.2 via a regular update, this "out of distro install" MongoDB uses the WiredTiger storage engine - the layout in `/var/lib/mongodb/` is very different.

If I'm

[2017-02-06 10:38] #207 closed

[2017-02-15 09:40] DamienMolina opened #222 "I have bad performance for api/search/<vendor>/<product>"
When I want to list all the CVEs for a product of a vendor, this takes me too much time. On the cve.circl.lu website, this task is pretty quick. What can be the differences? I thought about creating an index on *cves* document for the "vulnerable_configuration" key, but we can see [here](https://github.com/cve-search/cve-search/blob/master/lib/DatabaseLayer.py#L91) ,that the query is performed on

[2017-02-15 10:19] PidgeyL commented on #222
Did you correctly apply the database indexes?

[2017-02-15 10:40] DamienMolina commented on #222
Yes I believe, I ran `python sbin/db_mgmt_create_index.py` and got:
[code]

[2017-02-15 10:56] PidgeyL commented on #222
That indeed looks good. Which mongo version are you running?

[2017-02-15 13:51] DamienMolina commented on #222
I have the 2.4.10 version

[2017-02-15 15:22] DamienMolina commented on #222
By the way, when I run in the mongoshell:
`db.cves.find({"vulnerable_configuration": /cpe:2.3.o:microsoft:windows.*/}).pretty() `or `db.cves.find({"vulnerable_configuration": /microsoft:windows.*/}).pretty()`

It's pretty quick

[2017-02-15 15:34] PidgeyL commented on #222
The chances are you're having a Redis issue instead then. When you search for Wordpress/Wordpress, for example, the first thing that the tools needs to do, is reconstruct the CPE, by going through the Redis cache. Do you think that might be an issue on your end?

[2017-02-16 07:19] DamienMolina commented on #222
How can I check if the issue really comes from Redis? I do have redis running, could my problem come from anywhere else?
[code]

[2017-02-16 08:45] PidgeyL commented on #222
Personally I'm not all too familiar with Redis, I'm just brainstorming a bit. @adulau, do you think this might be an issue?

[2017-02-27 04:45] weirdalsuperfan opened #223 "cves not updating properly"
I don't think my cves collection initially downloaded properly - it went to 2011 and then said "Killed," but when I ran the updater it says it has 0 updates but only about 47,000 CVEs, when it should have over 80,000 I think. The other databases didn't download right either, but they seem to be updating alright. I've tried dropping the entire database a few times and repopulating it, and also upda

[2017-02-28 07:53] PidgeyL commented on #223
We assume the initial population finished completely, when we do an update. We don't go back 6 years to check all CVES. NIST works with an "update" file, with al recent updates, which is what we base ourselves on. The approach of checking all CVE files would take way too long.

**TL;DR**: Make sure the initial database population is done correctly

[2017-02-28 07:53] #223 closed

[2017-03-03 06:33] weirdalsuperfan opened #224 "CVEs before 2002"
I noticed the script starts at 2002. I can change it by editing lib/Config.py, but it doesn't actually work for years before 2002, even though there are CVEs from 1999. How do I get it to work for 1999-2001? This is the output when I change the start year to 1999:

root@rob-mongo:/cve-search# ./sbin/db_mgmt.py -p -v
The year 1999 is not a valid year.
default year 1999 will be used.
0
Database popu

[2017-03-03 07:08] PidgeyL commented on #224
CVE-1999-2001 does not exist in NVD. CVE-1999-0520 does, so we'll use that one as an example.
When you populate the database, this one will be there as well, even though we start from 2002. The reason is, all vulnerabilities from 1999 are considered weaknesses.

[2017-03-03 07:10] weirdalsuperfan commented on #224
By 1999-2001 I meant the year range from 1999 to 2001, but are you saying the cves from 1999 are put in the cwe database instead?

[2017-03-03 07:18] PidgeyL commented on #224
No, they are classified as CVE, even though, technically, they are not. All the CVEs with an identifier from 1999 are considered weaknesses. They are included in the CVE database, even when you populate it only as of 2002 (which is when real CVEs started to be recorded)

[2017-03-03 07:18] weirdalsuperfan commented on #223
The initial database population always fails at 2011. My server is a fresh digital ocean mongodb droplet: https://www.digitalocean.com/community/tutorials/how-to-use-the-mongodb-one-click-application

I thought maybe it was failing because it was trying to write too many documents at once, so I changed the insertCVE function to insert_one for each cve in ch.cves, but the behavior and the error is

[2017-03-03 07:20] weirdalsuperfan opened #225 "update: cves not updating properly #223"
I added another comment with a lot more information about my error to the closed issue "cves not updating properly #223" but I wasn't sure how to reopen it. Just wanted to be sure you saw the comment.

[2017-03-03 07:21] weirdalsuperfan commented on #224
Okay, thanks, nevermind, then.

[2017-03-03 07:21] #224 closed

[2017-03-03 08:53] PidgeyL commented on #223
Insert_one is probably a terrible idea, because you perform a write action for every record. With a bulk operation, you write less often, locking the database less often, increasing the performance.
From what I see though, the error is not in the CVE-Search code, but with your mongo installation.

[2017-03-07 10:29] cburger-scheidlin opened #226 "Cannot set Proxy"
The Configuration class in lib/Config.py does not properly parse the proxy settings.
An exception is thrown in lib/Config.py:72 which, when printed, reads:
No section: 'Proxy'

I investigated further, and it turns out that when Configuration.getFile(...) is called, the ConfigParser is empty.
I noticed this when trying to print the available sections in the ConfigParser.

Calling
    ConfigParser =

[2017-03-07 10:41] PidgeyL commented on #226
and you renamed the file from `./etc/configuration.ini.sample` to `./etc/configuration.ini`?

[2017-03-13 22:06] sanariaz154 commented on #169
hi @adulau  I want to resolve this bug . Can you please guide me where should I start ?

[2017-03-14 10:47] PidgeyL commented on #132
Issue does not apply anymore, since exploit db info is moved to via4

[2017-03-14 10:47] #132 closed

[2017-03-14 10:49] PidgeyL commented on #139
This issue is partially "fixed" with the new `/api/query`. Would you like me to add the feature in `/api/last` too, or is this enough?

[2017-03-14 10:51] PidgeyL commented on #163
Issue doesn't apply anymore. If it still persists, it will be in the VIA4 project

[2017-03-14 10:51] #163 closed

[2017-03-14 11:02] PidgeyL commented on #210
@cloudtracer - Is your problem solved with this? If so, I will close the issue

[2017-03-14 11:51] #197 closed

[2017-03-25 15:24] pombredanne commented on #87
Have you ever considered using a more structured DB, e.g. a traditional relational DB?

[2017-03-25 18:50] pombredanne opened #227 "Consider vulners as an additional data source"
@vulnersCom https://vulners.com/ is not FOSS code, but as close as it gets to open data from what I can see. It may be a good addition to cve-search?

[2017-03-27 12:28] psychedelys commented on #226
I have the same problem...
Well the issue, is a logic issue.

When running ./sbin/bd_mgmt.py
Configuration.getFile(Configuration.getFeedURL('cve') + getfile)

There is a "scope" problem.
Configuration.getFeedURL -> cls.ConfigParser.clear() + load sources.ini.

thus when getFile is called, the cls.getProxy() -> cls.readSetting("Proxy", "http", is refering to the sources.ini, not the configuration.

[2017-03-27 19:35] PidgeyL commented on #169
This is probably not applicable anymore. Could you verify?

[2017-03-27 19:45] #219 closed

[2017-03-27 20:44] PidgeyL commented on #226
This should fix it. It's currently in my branch though.

[2017-04-06 21:52] mark-laubender opened #229 "Web Interface: TypeError: 'NoneType' object does not support item assignment"
Hello,

Whenever I try to use the web interface search function for anything other than a CVE ID I receive a 500 INTERNAL SERVER ERROR.  See the debugger output below for when I search for "apache":

Traceback (most recent call last):
  File "/usr/lib64/python3.6/site-packages/flask/app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/lib64/python3.6/site-

[2017-04-07 13:12] igama commented on #219
@PidgeyL When will you merge/PR your changes to the main CVE-Search Repo? :)

[2017-04-10 06:06] PidgeyL commented on #219
I hope soon. My branch contains some major updates, which I'm letting people check for bugs, before I release it. It would be nice if you could do some tests as well, as everyone uses it slightly differently ;)

[2017-04-10 06:10] PidgeyL commented on #229
I _think_ I fixed this one in my branch. Could you check?

[2017-04-10 06:17] adulau commented on #219
@PidgeyL Maybe we could target the merge of the branch at the hackathon?  https://hackathon.hack.lu/ and do some final tests together.

[2017-04-10 06:23] PidgeyL commented on #219
Sounds good to me. No major bugfixes are in the release, so there is no urgency :)

[2017-04-10 07:50] pombredanne commented on #219
@PidgeyL Just to understand which branch to track, is your `master` branch the main development branch?
If so it could make sense to document this or have it as the `develop` branch in the main repo?
This would make it a tad easier!

[2017-04-10 08:00] PidgeyL commented on #219
Yes and no. When I work on new features, bugfixes and the like, I make them in my fork, so they can undergo two iterations of testing before they reach the master branch. Big features, like the one I recently made, I make in a separate branch in my fork, and merge them into my master once it is ready.
The main reasoning behind this "structure", is that I code fast, and do few tests, only in the wa

[2017-04-10 08:22] pombredanne commented on #219
@PidgeyL that's cool. It just makes it a tad more difficult to track what will come up next. Now that I know that your branch and @adulau branch are the ones to track, things are clearer. But that does not make it clear for aspiring contributors. For instance, I am considering contributing seriously to cve-search as part of this project https://github.com/nexB/aboutcode/wiki/GSOC-2017#package-secu

[2017-04-10 08:35] adulau commented on #219
I think after this merge, we will take a similar approach that we use in [MISP](https://github.com/MISP/MISP). Everything in the HEAD (tagged with a version when it's stable enough) and if we do any new features that would be a branch.

[2017-04-10 16:45] igama commented on #226
@PidgeyL Your branch breaks the download of the file nvdcve-2.0-modified.xml.gz

    Cannot open url https://static.nvd.nist.gov/feeds/xml/cve/nvdcve-2.0-modified.xml.gz. Bad URL or not connected to the internet?

https://github.com/PidgeyL/cve-search/blob/master/sbin/db_mgmt.py#L198

Should be

(f, r) = Configuration.getFile(Configuration.getFeedURL('cve') + getfile)

[2017-04-11 06:58] PidgeyL commented on #226
Good catch, thanks

[2017-04-11 16:57] mark-laubender commented on #229
Yeah, you definitely fixed the TypeError - thanks!

the 'Browse per vendor' page is still blank, any ideas why?

[2017-04-11 20:09] PidgeyL commented on #229
Do you have Redis disabled?

[2017-04-12 10:20] igama commented on #229
@mark-laubender there was a bug on the Redis Cache. This was fixed in the last 2 days.

[2017-04-12 16:39] mark-laubender commented on #229
@igama I saw your commit and fixed it on @PidgeyL 's cloned branch - everything's working fine.  The TypeError described above is still present on this main branch, though.

Thanks guys!

[2017-04-12 16:39] #229 closed

[2017-04-13 14:37] jvoisin opened #232 "Stacktrace on vfeed"
On current master (`f4e24bc8f0e58970677dd220eb5ba46315d971c9`), I got this upon updating:

[code]

Notice the stacktrace for `vfeed`.

[2017-04-13 14:46] PidgeyL commented on #232
That's odd, vFeed was removed several iterations ago... The last commit is 43667a73fd992a3573a12dac27a5aec2a4dccb43

[2017-04-13 14:51] jvoisin commented on #232
[code]

Grmbl.
Super-sorry for the noise :'(

[2017-04-13 14:51] #232 closed

[2017-04-13 15:34] adulau commented on #227
Sure (for via4cve) good idea. Where is the link to download the dataset?

[2017-04-13 15:48] vulnersCom commented on #227
https://vulners.com/docs
https://avleonov.com/2017/02/28/vulners-com-and-ranges-of-dates/

This cant help ^)

[2017-04-16 13:14] vulnersCom commented on #227
May I help in any way to perform better experience with our tool?

[2017-04-16 13:18] adulau commented on #227
@vulnersCom Is the full dataset available as download to permit users to make local search? if yes, can we bundle it with cve-search and [VIA4CVE](https://github.com/cve-search/VIA4CVE)? Thank you.

[2017-04-16 13:27] vulnersCom commented on #227
Yes, it is available for download.
Feel free to bundle it.
All dataset is separated by "types".
You can download whole dataset of the "type" in JSON using this call:

https://vulners.com/api/v3/archive/collection/?type=cve
https://vulners.com/api/v3/archive/collection/?type=exploitdb
https://vulners.com/api/v3/archive/collection/?type=centos

And so on. Check possible "type" values by this call:
h

[2017-04-16 13:30] adulau commented on #227
@vulnersCom Looks cool. Thanks for the hint. We will add it in [VIA4CVE](https://github.com/cve-search/VIA4CVE).

[2017-04-18 11:41] joker2a opened #233 "Could not find auth loader file!"
Hello when i want to run ./web/index.py I get the following error :

[!] Could not find auth loader file!
[!] Could not find plugin loader file!
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat
[!] Could not find auth loader file!
[!] Could not find plugin loader file!
 * Debugger is active!
 * Debugger PIN: 136-661-224

Do you have a solution?

[2017-04-19 08:43] IrootGeek opened #234 "Erorr when run db_updater.py"
Hello when i want to run ./sbin/db_updater.py -c

Starting ensureindex
[+]Success to create index id on cpe
[+]Success to create index id on cpeother
[+]Success to create index id on cves
[+]Success to create index vulnerable_configuration on cves
[+]Success to create index Modified on cves
[-]Failed to create index cves on [('summary', 'text')]: text search not enabled
[+]Success to create index

[2017-04-19 09:31] IrootGeek commented on #234
I found solution,

Edit /etc/mongodb.conf, add the line setParameter=textSearchEnabled=true.
Then:
sudo service mongodb restart

# Install redis
sudo aptitude install  redis-server  redis-tools

# Copy configuration.ini plugins.txt in /etc/
cp etc/configuration.ini.sample etc/configuration.ini
cp etc/plugins.txt.sample etc/plugins.txt

[2017-04-21 12:57] PidgeyL commented on #233
It just means you haven't set up a specific authentication file. No big deal :)
check `./etc/`, and you'll find examples of config files, with the extension .sample.

[2017-04-21 12:57] #233 closed

[2017-04-21 13:06] PidgeyL opened #235 "Discussion Internal changes CVE Search"
I want to make some big changes to the internal structure of CVE-Search, that would need to be revised by multiple people. Some of these changes are:

 - Get rid of CPE2.2 in the database, and do the translation in the code
 - Move more towards objects, and away from dictionaries
 - Separate database logic from database calls (e.g: the hashing and comparing of passwords should not happen on the da

[2017-04-21 13:20] adulau commented on #235
Looks very good to me. I'm just wondering about the reverse cpe that we could build form the CVE database. It seems that some CPE are not in the CPE datafeed but specified in the CVE. So we could build a new CPE database for VIA2CVE.

[2017-04-21 13:23] PidgeyL commented on #235
I don't think that is necessary. Do we really need the cpeOther dataset? We only use it to create a title, which can be done on the fly, reducing disk access. Also, I don't think cpeOther is used by the code anyways, as it is now

[2017-04-21 13:38] adulau commented on #235
It's usually CPE which has not been published in the database. So I think it's still valuable for many others. maybe we should review this during the hackathon. By the way, I removed IAVM from the VIA4CVE feed generator (but not committed it) but if a source is failing the whole generation process is stopped.

[2017-04-21 15:08] pombredanne commented on #235
Have you considered using a relational DB and an ORM to use bona fide objects? That's something I would like to discuss at the hackathon.

[2017-04-21 18:13] PidgeyL commented on #235
Yes, we have, but things like via4 would break. Postgres would probably be ideal, having relational for standard objects like cve, cpe, etc, and the document oriented part for via4. Plugins would also be less "plug and play". Let's discuss at the hackaton

-----Original Message-----
From: "Philippe Ombredanne" <notifications@github.com>
Sent: ‎21/‎04/‎2017 17:08
To: "cve-search/cve-search" <cve-se

[2017-04-26 15:16] Wolodija opened #238 "Search by vendor, product and version or by cpe"
Hi,

I don't see api endpoint for searching by vendor, product and version.
Is it possible to search by these values with current api?

Regards,
Wolodija

[2017-04-27 13:21] Wolodija commented on #238
https://github.com/cve-search/cve-search/pull/239

[2017-04-27 14:16] PidgeyL commented on #238
This can very easily be done by the `/api/cvefor/<path:cpe>` call. All you have to do is make the cpe format

[2017-04-27 14:19] Wolodija commented on #238
@PidgeyL, thanks. I was doing sth wrong and thought it doesn't work

[2017-04-27 14:19] #238 closed

[2017-04-28 08:49] DamienMolina opened #240 "Can't load cpes via db_mgmt_cpe_dictionnary"
When running db_mgmt_cpe_dictionnary, it returns nothing and the script never ends.
It's  different than #88 because, my script doesn't even go into the `for x in progressbar(ch.cpe)` (l91)
It seems like my script gets blocked at `parser.parse(f)`. I have no trouble downloading the file "https://static.nvd.nist.gov/feeds/xml/cpe/dictionary/official-cpe-dictionary_v2.2.xml" via curl, so reading the

[2017-04-28 09:46] DamienMolina commented on #240
Well it seems like it's okay, it was not long while on the progress bar but on the parser so nothing happened and i got kicked out of my ssh connection.

[2017-04-28 09:46] #240 closed

[2017-04-28 14:29] Nirvilus opened #241 "Vendor list empty"
Hi everyone !
I'm having a small problem, impacting the use of CVE-Portal.
CVE-search doesn't seem to index vendors.

Online version ( https://cve.circl.lu/browse/ ) seems to handle this though

This is a fresh install, db created and updated regularely, with default sources.ini, configuration.ini and no plugins

Thanks in advance for your help,

[2017-04-28 16:47] eisbaer9 opened #242 "Make Web Interface and Web API usable from outside"
Hi there,

is there a way to make the Web Interface and the Web API accessible from other LAN Devices?

I didN't find an point to change this, that the API listens not only to localhost.

Kind regards
eisbaer

[2017-04-28 17:13] eisbaer9 commented on #242
Found it by myself. DidN't see the Web documentation.

But now i got another error:
builtins.TypeError
TypeError: 'bool' object is not callable

Traceback (most recent call last)
File "/usr/local/lib/python3.4/dist-packages/flask/app.py", line 1997, in __call__
return self.wsgi_app(environ, start_response)
File "/usr/local/lib/python3.4/dist-packages/flask/app.py", line 1985, in wsgi_app
response

[2017-04-30 20:44] PidgeyL commented on #242
Yes, please downgrade your flask-login. We require a specific version, because the latest version was unstable and untested, at the time it was released.

[2017-04-30 20:55] eisbaer9 commented on #242
Now it works with 'flask-login<=0.2.11'

Thanks!

[2017-04-30 20:55] #242 closed

[2017-05-01 07:22] pombredanne commented on #205
See also https://github.com/leojcollard/cve-search-docker by @leojcollard

[2017-05-05 14:26] PidgeyL opened #243 "Version checking in CVE-Search update process"
Something we discussed at the hackathon:

We should put a module into CVE-Search that automatically checks the version of the running instance, and updates the database structure where needed, without required user interaction.

**Things to consider:**
 * Plug-ins might not like this behaviour (but I guess they would break anyways)
 * Users should have the option to turn this feature off
    * Sho

[2017-05-08 13:19] Wolodija commented on #157
@IvanBlock, @PidgeyL
Any update?

[2017-05-08 13:31] PidgeyL commented on #157
Not yet. It has probably to do with URL escaping somewhere, but I'm focussing on other parts of the code right now. If you'd like to help, I'd recommend to have a look at `./web/api.py`

[2017-05-15 07:03] Wolodija commented on #157
I was checking it with debugger:

( => %28 => %2528 => %252528

12.2(50)SE1 => 12.2%25252850%252529SE1

[2017-05-15 07:24] PidgeyL commented on #157
My guess would be a double escape, where it escapes the % too

[2017-05-15 07:25] PidgeyL commented on #157
So a double escape. Try removing the escape and see if nothing breaks :)

[2017-05-20 16:55] benno001 commented on #222
Do you have MongoDB and Redis installed on the same machine? If yes, this performance issue might be triggered by swap activity. Basically, MongoDB makes the machine swap memory which affects the completely in-memory Redis database.
See also:
- [MongoDB with Redis](http://stackoverflow.com/a/10721249)
- [Set up MongoDB and Redis on the same server](http://stackoverflow.com/a/25343400)

[2017-05-23 08:14] Wolodija opened #245 "Keep vulnerable configurations in proper way"
Vulnerable configurations are keep as list, but for e.g. [CVE-2016-1247](https://nvd.nist.gov/vuln/detail/CVE-2016-1247#vulnConfigurationsArea) it is more complicated (consists of ANDs and ORs)

CVE database:
[code]

cve-search result:
[code]

It should be keep in some structure which is more accurate to CVE.

My draft proposal ;) :
[code]

It could be translated as: (cpe_1 and cpe_2) or (cpe_3).

[2017-05-23 09:00] PidgeyL commented on #245
Very fair point. Although I'm not sure about your draft proposal yet. Because that might end up with something like:
[code]
Which is the most common configuration.
A better alternative might be like we do with OVAL in VIA4 (in the end, this is what this is).

While I agree with this issue, we'll probably have to push it on the back-burner for a while, because this change would require a database-u

[2017-05-29 21:44] bitvijays opened #246 "Vulnerable configurations not found?"
Dear CVE-Search Team,

Thank you for creating cve-search. It's super awesome. Had a quick query. When CVE's are updated, Ideally they should contain the Vulnerable-Configuration field populated. Is there any reason, why this field is not populated in many of the cases? For example: Vulnerable configuration of https://cve.circl.lu/cve/CVE-2017-9302 is empty. Any pointers on this.

Thanks,
Yours Sin

[2017-05-30 07:54] PidgeyL commented on #246
When a CVE is just released by NVD, they are not fully populated yet. Usually, the Vulnerable Configuration and the CVSS are missing, until the NVD scores the vulnerability.

[2017-05-30 07:59] adulau commented on #246
When the NVD database is updated, the cve-search part is updated too. The vulnerable-configuration is updated by MITRE often after the CVE/NVD publication. I hope this helps.

[2017-05-30 07:59] #246 closed

[2017-05-30 21:00] bitvijays commented on #246
Thank You @PidgeyL  and @adulau for the quick response. :). Just curious is there any way to figure out Software/ Vendor name from the description?  Unfortunately, the position of Software or Vendor is not fixed. Hence was unable to extract it. Another thought was comparing the text with CPE Dictionary ( I believe this would be very costly in terms of performance ). Any other ideas you might have?

[2017-05-31 08:49] flexd opened #247 "Return proper HTTP status codes"
Hi there! Nice project, but you need to handle error states and give proper responses.

http://cve.circl.lu/api/cve/fffffffffff

Why does this return "HTTP 200 OK" and just "null"?

[2017-05-31 09:12] PidgeyL commented on #247
You are probably using the legacy version of the API. Try adding "Version 1.1" to the headers
You cna find more information at https://cve.circl.lu/api/

[2017-05-31 09:15] PidgeyL commented on #247
The reason we did not change it in the legacy api, is because a lot of scripts depend on it, and we didn't know how much would break

[2017-05-31 10:10] PidgeyL commented on #246
Why would you want to do that? Is there a time problem?
The vendor and product will become available once the CPE is filled in.

[2017-05-31 10:59] flexd commented on #247
Aha.. This mentions none of that https://www.circl.lu/services/cve-search/ :)

[2017-05-31 11:11] bitvijays commented on #246
@PidgeyL .. Thank you for your quick response. Yeah, there's a time problem. Actually, I am trying to utilise the dump_last.py to create a RSS Feed of last 50 CVE published. Now, in the dump_last.py Title = CVE-ID + Summary[90]. The summary is same as in the description field. I was just wondering if it would be possible to publish title as "CVE-ID Vendor-Product". So, came across Vulnerable confi

[2017-05-31 11:12] PidgeyL commented on #247
I see. @adulau, can you please make an entry somewhere? maybe a reference to the api page, where most is documented?

[2017-05-31 11:13] flexd commented on #247
I am also somehow able to cause a HTTP 500 on the server giving the Header 'Version: 1.1' using Go's net/http.. I haven't been able to replicate this using curl (works fine), so I'm not sure what is going on :)

[2017-05-31 11:30] flexd commented on #247
https://cve.circl.lu/api/#headers

This says you can specify Accept and Version. Both of those are part of the HTTP spec and should not be used. Am I supposed to prefix them with something or are you using field names violating the HTTP specification?

[2017-05-31 11:33] PidgeyL commented on #246
I'm not sure I follow 100% But as this is a "separate issue", can you either contact me on gitter, by mail or by hangouts? Will be easier to discuss

[2017-05-31 11:36] PidgeyL commented on #247
Accept is the same like HTTP would do. Version is how most API's specify the version, so I used the same standard

[2017-05-31 11:39] flexd commented on #247
Okay, so you *must* specify the Accept header as well, if you specify the Version header. Otherwise it will crash here. https://github.com/cve-search/cve-search/blob/master/web/api.py#L136

I don't know the exact message, so you'll have to debug that on your own :)

[2017-05-31 11:42] PidgeyL commented on #247
No, you don't have to specify the accept header. If you don't, it'll use JSON by default

[2017-05-31 11:50] flexd commented on #247
I had to specify the Accept header to make it stop crashing. Either there is something wrong or my client does something by default that makes it crash.

[2017-05-31 11:56] PidgeyL commented on #247
That might be a bug then. Can you provide any logs or something we can go by?

[2017-05-31 12:13] flexd commented on #247
Sure. This example will fail: https://gist.github.com/flexd/96af8a5f8426b424e5b47315be5e5fd5 If you uncomment line 53 https://gist.github.com/flexd/96af8a5f8426b424e5b47315be5e5fd5#file-main-go-L53 it works.

[2017-05-31 13:44] flexd commented on #247
Running the application with the line commented results in this
[code]

Uncommenting the line results in this:
[code]

[2017-05-31 14:22] PidgeyL commented on #247
![screenshot at 2017-05-31 16 20 58](https://cloud.githubusercontent.com/assets/8830839/26636485/3a58fd6e-461d-11e7-9235-2beeb2956307.png)

This is what you mean, right?

[2017-06-01 06:42] flexd commented on #247
Yes, that looks correct?

As you can see here, curl passes `Accept */*`, which is why it works.

[code]
(this was captured with sudo ngrep -q -d wlp58s0 -W byline host cve.circl.lu and port 80)

Running the go program, it does not pass any Accept header at all (we are not trying to be a browser), and then it fails.

[code]

[2017-06-01 06:46] flexd commented on #247
It might be working in the browser because if you do a request using Javascript it could be adding on Accept headers.

[2017-06-01 07:15] PidgeyL commented on #247
Exactly what I was thinking. I did the test, and indeed, my client automatically passes on `Accept: */*`
Good catch!

[2017-06-01 07:20] PidgeyL commented on #247
@adulau can you let us know when the bugfix is pushed to the production server?
@flexd when it is, can you test again?

[2017-06-01 07:29] adulau commented on #247
@PidgeyL @flexd It's online on cve.circl.lu

[2017-06-01 07:36] flexd commented on #247
@PidgeyL @adulau confirmed working in production :+1:

By the way, I tried finding you guys on IRC before making an issue but not many of you are around. :)

[2017-06-01 07:40] PidgeyL commented on #247
Great :)

Which server/channel? I am on IRC, but we mainly use gitter for CVE-Search related conversations

[2017-06-01 07:40] #247 closed

[2017-06-01 07:59] flexd commented on #247
@PidgeyL Cymru/First

[2017-06-01 08:11] adulau commented on #247
@flexd I'm usually on those one in IRC.

[2017-06-01 08:25] flexd commented on #247
@adulau yeah, just saw you quit like a month ago which is why I mentioned it. :+1:

[2017-06-02 11:13] pombredanne commented on #245
@Wolodija I agree with @PidgeyL .... why not being explicit about the conditions (e.g. having `or` and `and` etc) rather than implicit?

[2017-06-03 07:58] Wolodija commented on #245
@pombredanne, No problem for me, it is just proposal :)

[2017-06-19 16:58] #234 closed

[2017-06-20 12:20] IrootGeek opened #248 "Integrating the database of VIA4CVE to fill the cvesearch database"
Hello @pombredanne @PidgeyL @adulau,
I want to integrate the VIA4CVE database to fill the cvesearch database to get all the recent vulnerabilities that are not yet published on NVD.
I want to know if it's possible and what do you think?

[2017-06-26 14:45] Wolodija opened #249 "Seems that XML feeds are removed from server"
Does anyone have information what happen with XML data feed?

https://nvd.nist.gov/vuln/data-feeds#CVE_FEED

Looks like removed few hours ago.
https://webcache.googleusercontent.com/search?q=cache:PvdV4tQSsL8J:https://nvd.nist.gov/vuln/data-feeds+&cd=1&hl=pl&ct=clnk&gl=pl&client=firefox-b

[2017-06-26 18:35] PidgeyL commented on #249
I think they would be replaced by a json. @adulau

[2017-06-27 07:43] Wolodija commented on #249
They are back

[2017-06-27 07:43] #249 closed

[2017-08-03 13:43] StCyr opened #250 "hardcoded limit in API + argument "limit" doesn't work"
the "query" API seems to have an hardcoded limit of maximum 50 results to return. And, the "limit" argument doesn't work

[code]

also time comparaison doesn't seem to work. Example: The following query looks for CVE modified between 01/07/2017 and 03/07/2017. Though, only CVE modified on 02/08/2017 are returned:

[code]

[2017-08-04 11:12] StCyr commented on #250
naah my bad. I'm just not used to put headers in GET requests...

for the record, the correct format is:

[code]

[2017-08-04 11:12] #250 closed

[2017-10-03 12:31] AlexFaraino opened #251 "Not updating CVSS details"
Hello Everyone,
It seems that CVE Search is not updating CVSS Impact and Exploitability. CVSS score is updated though. I have seen it on my local instance, but also in the public server.

Here is an example with CVE-2017-14489. Let's have a look at the xml feed from nvd:
[code]

But if you look at the public instance: https://cve.circl.lu/cve/CVE-2017-14489
The CVSS score is set, but not the CVSS

[2017-10-03 12:39] PidgeyL commented on #251
Yes, I think I know the problem.
In the past, when updating, only certain fields were being updated. This shouldn't be the case anymore, in the branch I'm working on now.
I'm quite busy, and the branch makes major changes in the code, so it might take a couple of weeks for me to finish and thoroughly test the code, but this should be fixed in the newer version :) I'll keep the ticket open, and re-

[2017-10-03 12:49] AlexFaraino commented on #251
Thank you for your quick answer. Let me know if I can help with the dev or test.

[2017-10-03 13:03] PidgeyL commented on #251
I would greatly appreciate helping debugging the current branch (objectify) :D I've been changing dictionaries to objects, and updating the database layer. And big changes always break things.

[2017-10-06 12:33] AlexFaraino opened #252 "Update CWE version"
Hello,
I noticed that CVE-Search is updating CWE against version 2.8, but version 2.11 has been published (2017-05-05).
That's an issue when looking at https://cve.circl.lu/cve/CVE-2016-0260 and looking for CVE with the same CWE.

Can we update the URL in lib/Config.py, or is there a reason to stay on version 2.8?

[2017-10-06 13:41] AlexFaraino commented on #251
Hi Pidgey,
I tested the import function and I can confirm this issue is fixed in the new Objectify branch.
I think we can close this issue.

As you can see (#253), I started testing the new branch. I will open a new issue if I find something in the new branch and cannot fix it, or need to discuss it with you.

[2017-10-06 14:22] PidgeyL commented on #251
Thanks a bunch! Both for verifying, and for the bug fixes. It's quite a lot of code to test, so I really appreciate it

[2017-10-06 14:22] #251 closed

[2017-10-06 16:02] mixmatch commented on #241
Are you running sbin/db_updater.py with the -m flag (Minimal import) by chance?

[2017-10-06 16:10] mixmatch commented on #157
These are curly braces: {}
These are parenthesis or round brackets: ()

[2017-10-06 16:45] mixmatch commented on #252
CAPEC is also version 2.6 and current version is:
http://capec.mitre.org/data/xml/capec_v2.11.xml

[2017-10-06 20:20] adulau commented on #252
Good point. I need to review if the format fundamentally changed.

[2017-10-07 09:40] PidgeyL commented on #241
Do you have Redis installed, running, and have CVE-Search correctly connect to it?

[2017-10-11 21:01] mixmatch commented on #252
I've been running without any noticeable issues:
[code]

Where would I see errors if this update caused problems?

[2017-10-17 16:23] OpenPrunus opened #254 "CERT: Invalid certificate trust chain with letsencrypt certificate on XMPP search bot"
Hello !
I have a problem when I connect the XMPP search bot to my XMPP server.

<pre>
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
ERROR    CERT: Invalid certificate trust chain.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
ERROR    Can not read from closed socket.
</pre>

My pro

[2017-10-18 07:54] PidgeyL commented on #254
There's probably an option in sleekxmpp to accept "invalid" certificates, but I'd have to have a look where that option is

[2017-11-21 07:50] PidgeyL commented on #248
Personally I'd like to keep the main feed as "standardized" as possible; But I've been toying with the idea of making several "feeds", by using plug-ins, and get extra information from there (RSS feeds, vendor information bulletins, etc)

[2017-11-21 08:17] PidgeyL commented on #252
I checked, there is no big changes between v2.8 and 2.12 (the current one). I will change it as a standard.
@adulau: We currently already have v3.0 as well, which does have some fundamental changes.
To summarize:

    Weakness_Abstraction -> Abstraction
    Description_Summary -> Description
    Extra field: Structure

On top of this, I'd propose extracting a bit more information out of the feeds.

[2017-11-21 09:40] #148 closed

[2017-11-21 09:43] PidgeyL commented on #191
Can you check again if this issue is still there?

[2017-11-21 09:45] PidgeyL commented on #241
@Nirvilus Can you please come back to this issue? Otherwise I'll close it for inactivity

[2017-11-23 13:51] PidgeyL commented on #158
Seems like https://nvd.nist.gov/vuln/data-feeds#JSON_FEED has the CVSS v3

[2017-11-23 13:55] PidgeyL commented on #169
I will close this issue for now. If it occurs again, please re-open it

[2017-11-23 13:55] #169 closed

[2017-11-23 13:57] PidgeyL commented on #181
Closed for inactivity

[2017-11-23 13:57] #181 closed

[2017-11-24 09:19] chervaliery opened #256 "Wrong format for cpe2.3"
When running the db_mgmt_cpe_dictionary.py, the cpe are fetched from the nist dictionary. Then they are convert from CPE2.2 to CPE2.3 in the **toStringFormattedCPE** function of *lib/Toolkit.py*, but the special char are not convert to appropriate format.
For example:
[code]
should be
[code]
See: https://nvd.nist.gov/products/cpe/detail/19425

I'll propose a pull request to correct this issue.

[2017-11-24 10:11] PidgeyL commented on #256
Good point. I will have to check if all functionalities still work though (search scripts, web search ,etc), before I can accept your commit

[2017-12-04 13:44] #241 closed

[2017-12-04 16:05] PidgeyL commented on #191
This issue should be solved in the objectify branch, and thus be fixed once the branch is fully tested. Can you check if it's solved in the current version already?

[2017-12-04 16:28] adulau commented on #191
@PidgeyL  Can we just merge this fix without the complete objectify branch?

[2017-12-05 10:19] PidgeyL commented on #191
Not really. This is the entire point of objectifying the date: validating all of the input

[2017-12-05 10:35] PidgeyL commented on #139
closing this because of /api/query. Please re-open if needed.

[2017-12-05 10:35] #139 closed

[2017-12-05 10:50] PidgeyL commented on #225
Did you manage to find a fix? As mentioned in #223, this looks like a mongo issue rather than a cve-search issue.

[2017-12-05 10:54] PidgeyL commented on #226
Can you confirm that the bug is fixed, and the issue can be closed?

[2017-12-06 09:48] PidgeyL commented on #227
Closing it here since the entry is taken up in via4 (and I'm working on it). Thanks all!

[2017-12-06 09:48] #227 closed

[2017-12-19 13:18] PidgeyL commented on #256
Not yet, have been busy with the objectify branch, and work in general. Might be for after the holidays, but I'll see if I can check earlier.

[2017-12-27 16:04] vdemir opened #259 "Cannot open url"
./sbin/db_mgmt_cpe_dictionary.py
Cannot open url https://static.nvd.nist.gov/feeds/xml/cpe/dictionary/official-cpe-dictionary_v2.2.xml. Bad URL or not connected to the internet?

[2018-01-04 07:16] rlintu opened #260 "Failed to create index via4..."
Database update gives two error messages:
`[-]Failed to create index via4 on metasploit.id: add index fails, too many indexes for cvedb.via4 key:{ metasploit.id: 1 } `
`[-]Failed to create index via4 on metasploit.reporter: add index fails, too many indexes for cvedb.via4 key:{ metasploit.reporter: 1 }`

However, via4 is updated normally.
Should I just ignore the index errors or is there way to ge

[2018-01-04 22:06] PidgeyL commented on #260
hmm, I don't think I've seen this yet. I'll have a look at that

[2018-01-04 22:08] PidgeyL commented on #259
That's not a lot of info. Are you using a proxy? did you try reaching the URL directly, and see what the error is?

[2018-01-05 14:43] PidgeyL commented on #260
Apparently, MongoDB can only hold up to 64 indexes, which we're quickly exceeding with via4. I guess this is something to discuss about with @adulau, as this probably means restructuring via4

[2018-01-05 14:54] PidgeyL commented on #156
I will close this issue, as this can be done with plug-ins or via an external tool that uses the API.

[2018-01-05 14:54] #156 closed

[2018-01-10 08:07] magnusmel opened #261 "XML output fails on search"
I have run the cve search using the below syntax as suggested in the README.md file, however the xml output consistently fails to appear for the below command

`./search.py -o xml -p openssh:5.3 ` fails to return any output

No problems with the below commands however,

`./search.py -o json -p openssh:5.3 ` Returns json output

`./search.py -o csv -p openssh:5.3 ` Returns csv output

[2018-01-12 09:53] PidgeyL commented on #261
would you mind running the same command on the latest version of the objectify branch, and see if that works?

[2018-01-22 05:22] mamatharao commented on #261
Hi, objectify branch also not giving xml output.

[2018-01-22 06:02] magnusmel commented on #261
hiya, Tried the same with objectify branch and still no output.

[2018-01-22 14:51] PidgeyL commented on #261
I just tested, and I get XML output. Are you not getting anything at all?

[2018-01-22 14:53] mamatharao commented on #261
Yes, I am getting nothing. Are you using ./search.py -o xml -p openssh:5.3

[2018-01-22 14:56] PidgeyL commented on #261
yup, exactly. What version of lxml do you have installed?

[2018-01-23 05:16] mamatharao commented on #261
I am using python-lxml version 3.5.0-1build1.

[2018-01-23 08:09] PidgeyL commented on #261
Same as mine. And if you `pip3 freeze | grep lxml` it?

[2018-01-25 08:59] magnusmel commented on #261
Works fine for me now, objectify branch.

[2018-01-25 08:59] #261 closed

[2018-02-02 10:20] magnusmel opened #262 "Hosting the mongo cve db on remote cloud server"
Unable to configure the mongo & redis servers to run from a different machine , I have modified the configuration.ini. However the connection fails...Any help to solve this, will be appreciated.

modified configuration.ini given below:
[Redis]
Host: redis-12988.c19.us-east-1-4.ec2.cloud.redislabs.com
Port: 12988
VendorsDB: 10
NotificationsDB: 11
RefDB: 12

[Mongo]
Host: user:Passwd@cluster11-ry2xn

[2018-02-02 23:25] PidgeyL commented on #262
For the Redis part, if the host and port are correct, I'm not sure what the issue is. It shouldn't matter, but have you tried with the IP?

As for Mongo, try the following:
[code]

[2018-02-03 17:29] magnusmel commented on #262
./sbin/db_mgmt.py -p
Unable to connect to Mongo. Is it running on mongodb+srv://cluster0-ry2xn.mongodb.net:27017?
Did the same as the above format .

Host: mongodb+srv://cluster0-ry2xn.mongodb.net

Tried without the mongodb+srv part

 ./sbin/db_mgmt.py -p
Traceback (most recent call last):
  File "./sbin/db_mgmt.py", line 256, in <module>
    c = db.getSize('cves')
  File "/opt/cve-search/sbin/../

[2018-02-03 17:37] magnusmel commented on #262
My config.ini
[Redis]
Host: redis-12988.c15.us-east-1-4.ec2.cloud.redislabs.com
Port: 12988
VendorsDB: 10
NotificationsDB: 11
RefDB: 12

[Mongo]
Host: cluster0-ry2xn.mongodb.net
Username: xxx
Password: xxx
Port: 27017
DB: test

[2018-02-04 05:40] magnusmel commented on #262
Ok, I changed the remote server to  the mongodb://url rather than the newer mongodb+srv://url.... It connects to db fine now.  However the mongodb+srv url doesnt seem to be supported. Updated my pymongo to 3.6 also. still no luck there

[2018-02-04 05:42] magnusmel commented on #259
I am having a similiar issue .
Database population started
Cannot open url https://static.nvd.nist.gov/feeds/xml/cve/2.0/nvdcve-2.0-2016.xml.gz. Bad URL or not connected to the internet?

I tried wget  https://static.nvd.nist.gov/feeds/xml/cve/2.0/nvdcve-2.0-2016.xml.gz. and was able to download easily.

[2018-02-04 05:43] magnusmel opened #263 "Cannot Open CVE URL"
I am having a similiar issue to URL open.
Output:
Database population started
Cannot open url https://static.nvd.nist.gov/feeds/xml/cve/2.0/nvdcve-2.0-2016.xml.gz. Bad URL or not connected to the internet?

I tried wget https://static.nvd.nist.gov/feeds/xml/cve/2.0/nvdcve-2.0-2016.xml.gz. and was able to download easily.

I updated etc/sources.ini to reflect the new xml url
[Sources]
CVE:    https

[2018-02-05 14:50] PidgeyL commented on #263
Do you have a proxy that breaks the SSL connection to inspect?

[2018-02-15 20:57] bwhitmore opened #264 "Ports to other programming languages?"
Do you know if anyone has ported your cve-search work to languages other than Python?

Thanks!

[2018-02-16 14:46] charlesgardner221 opened #265 "Daily JSON dump appears to be out of date"
The daily JSON dump of cve-search hosted at http://cve-search.org/dataset/ appears to hold no CVEs more recent than the 4th January 2018. Not sure what could be causing this.

[2018-02-16 15:54] adulau commented on #265
I just restarted the generation. It should be updated soon. Sorry for the inconvenience and thank you for the notification.

[2018-02-16 15:54] #265 closed

[2018-02-16 15:55] adulau commented on #264
No idea but you are free to do it. We also release the [data-dumps](https://www.cve-search.org/dataset/) so you can freely reused those in other programs.

[2018-02-16 15:55] #264 closed

[2018-02-16 15:57] adulau commented on #260
@PidgeyL It's a single collection so we could break it apart in different collections to avoid the limitation. What do you think?

[2018-02-16 16:00] charlesgardner221 commented on #265
No problem :) thank you

[2018-02-19 10:14] charlesgardner221 commented on #265
The JSON appears to have fallen out of sync again, no CVEs later than Feb 15th have been updated as of this morning.

[2018-02-19 12:08] vr0al opened #266 "Daily JSON periodically falling out of sync"
It appears that the Daily JSON dump which was reset last Friday has fallen out-of-sync again - no CVEs released since then have been made available within the latest JSON. May be a server issue

[2018-02-19 23:11] PidgeyL commented on #265
Thanks for keeping an eye on that

[2018-02-20 07:58] MelvinKool opened #267 "search, db_mgmt and db_mgmt_cpe_dictionary are using a vulnerable XML parser"
In bin/search.py, sbin/db_mgmt_cpe_dictionary.py, sbin/db_mgmt.py and sbin/db_mgmt_cwe.py, xml.sax is used.
This package is vulnerable for the billion laughs attack, quadratic blowup, external entity expansion and DTD retrieval, see: [XML vulnerabilities](https://docs.python.org/3/library/xml.html#xml-vulnerabilities).
Instead of using xml.sax directly, we should use defusedxml.sax.
I'm currently

[2018-02-20 08:29] PidgeyL commented on #267
Good catch :)
Keep us posted on your findings, and whether you want us to take over or not.

[2018-02-20 08:30] MelvinKool commented on #267
I'll keep you updated

[2018-02-20 10:19] MelvinKool commented on #267
@PidgeyL Did some source code analysis. Do you have an address for further communication, or could I discuss it here?

[2018-02-20 20:24] MelvinKool commented on #267
Issued pull request #268 . Please review before accepting to quickly.

[2018-02-20 20:32] MelvinKool opened #269 "Vagrant support"
Set up a working Vagrant environment with this Vagrantfile:

[code]

If we need this, I'll make a pull request.

Steps to set this up:

1. Install Vagrant
2. `vagrant up`
3. get some drink 🍹  and food 🍔
4. profit 💰

[2018-02-20 20:42] MelvinKool commented on #267
Is it possible to upload XML to one of the sources which is enabled by default?
If so, it might be possible to achieve remote file disclosure as root and behind NAT.

[2018-02-21 00:57] mlucas300 opened #270 "Problem using"
Hi,
I'm having a problem using the search.py script, maybe I'm using it in a way it's not meant to be used. When I search for kernel32 in the cves collection I get the correct 2 entries. If I search for kernel32.dll (I've tried escaping the . various ways) it matches all instances of .dll. There are also issues with some of the library names that I'm searching for contain underscores and/or hypens

[2018-02-21 10:42] MelvinKool opened #271 "RAM Requirements"
In doc/markdown/installation.md, the following is said:

This is not true, because ./sbin/db_mgmt_ref.py got killed on my test environment with 2048 MB of memory.
Python was taking ~1500MB RAM, so it was killed by the kernel.
Is there a way to use this script on a machine with less RAM, and what is causing the huge amount of memory allocation?
My guess would be the json file from via4.

Details: U

[2018-02-21 13:01] PidgeyL commented on #269
We should probably have a separate repository for these kinds of files. Are you okay with this, @adulau?
If so, should we have one for Vagrant, one for Docker, etc? or one repo with all these flavours?

[2018-02-21 13:07] PidgeyL commented on #271
I indeed noticed this recently as well, and it is indeed to do with the json parsing of via4.
We may need to consider an alternative, but I'm currently not sure yet what the best course of action would be. An easy way out would be to add a minimum RAM requirement, but that's a bit silly.
@adulau any thoughts?

[2018-02-21 14:08] MelvinKool commented on #271
@PidgeyL Why don't you convert the via4 website to an API, and then just fetch it in pieces, like 1000 entries at a time? Or temporarily write it to disk?

[2018-02-21 14:10] MelvinKool commented on #269
I'm currently creating a docker file, because of the RAM problem I had with using Vagrant.
If you tag me, I'll send the dockerfile when I'm done.

[2018-02-21 14:13] MelvinKool commented on #269
Also note that the Vagrantfile is not production ready.
root executes a script which is writable by the user vagrant.
This breaks privilege seperation.

[2018-02-26 11:41] yahanvesh commented on #263
@magnusmel I had similar issue (Bad URL) only with Python 3.3.0. So i switched to 3.6.4 after which i dont see this issue anymore.

[2018-02-26 11:42] yahanvesh commented on #259
@vdemir I had similar issue which no longer comes after i upgraded my python to 3.6.4

[2018-03-08 16:52] ghost opened #272 "Mongo error while trying to populate the database"
Trying to populate the database by running ``./sbin/db_mgmt.py -p`` results in the following error(runnig on Debian 8 with pymongo 2.7.2-1):

Updating to the backports's version (python3-pymongo 3.0.3-1) managed to solve the issue.
One should correct the requirement version for pymongo.

[2018-03-14 13:15] FranciscoHanna commented on #85
The solution by @DavidA2014 worked for me

[2018-03-22 23:01] juancar1979 opened #273 "Problem with db_mgmt.py -p & redis"
Hi!

I need your help! When I start/charge the db:

"
./sbin/db_mgmt.py -p
Traceback (most recent call last):
  File "./sbin/db_mgmt.py", line 26, in <module>
    from lib.Config import Configuration
  File "/home/auditor/Desktop/cve-search/sbin/../lib/Config.py", line 17, in <module>
    import redis
ModuleNotFoundError: No module named 'redis'

"

I have an error, but I have instaled redis. I us

[2018-03-23 05:53] juancar1979 commented on #273
Hi! I  think that i fix this error.

It's importat that install the last version, for explample redis python3.6

Cheers!

JC

[2018-03-23 10:20] Kertudex commented on #252
It would be nice to have this updated, indeed !

[2018-03-27 15:18] chervaliery opened #274 "The CWE "description_summary" is duplicated"
When importing CWE, the value of **description_summary** is duplicated.

[code]

It is probably linked to this line

https://github.com/cve-search/cve-search/blob/1bec56989baae4a630afdf7edd63663fe3e3c2bd/sbin/db_mgmt_cwe.py#L70

[2018-03-27 16:18] babbage128 opened #275 "cve-search/bin/search.py -o csv -f iproute2 outputs json and not a csv"
When I use the following lookup search the output is json, instead of csv
cve-search/bin/search.py -o csv -f $package

{
  "Modified": "2016-08-22 22:05:11.137000",
  "Published": "2014-02-15 09:57:07.160000",
  "access": {
    "authentication": "NONE",
    "complexity": "MEDIUM",
    "vector": "LOCAL"
  },
  "cvss": 3.3,
  "cvss-time": "2014-02-17 17:48:22",
  "cwe": "CWE-59",
  "id": "CVE-2012-1

[2018-03-28 12:08] iglocska opened #276 "CPE mapping with TCP port"
For example:

[code]

[2018-04-04 17:34] BradErz opened #277 "The reason why the imports are slow... id vs _id"
Just been playing with this project for my university project and noticed that the imports were uusually slow...

Digging into it a little bit the query's which are being made are against the field `id`:
```db.currentOp()```

Returns something similar to:
[code]

I noticed the same behaviour for cpe/cve collections.

Is there a reason the default `_id` field isn't used which is already indexed by

[2018-04-04 17:39] BradErz commented on #277
actually getting further along the process... the id field does get index'd but only when running `./sbin/db_updater.py -c` which in your documentation is the 3rd command to be run so the first 2 end up being super slow when running the upserts/updates.

[code]

[2018-04-17 11:55] PidgeyL commented on #272
Stupid question, but do you have mongo installed locally, and running on port 27017? Can you check?

[2018-04-17 11:57] PidgeyL commented on #273
Did you install all the requirements with pip before?

[2018-04-17 12:07] PidgeyL commented on #274
Indeed. This was already caught a while ago, and is as a fix in the new development branch. I'm still stamping out some other bugs before pushing to the master branch, but I've had very little time lately...
Thanks

[2018-04-17 12:07] #274 closed

[2018-04-20 01:00] Patristo opened #278 "'cvss-time' field not always present in database even though 'cvss' is"
Hello, I'm having some issues where the 'cvss-time' field isn't always present in my query output, even though the cve has a 'cvss' field.
The db itself doesn't contain a 'cvss-time', so looks to be a problem during DB population.
(I'd first noticed after a `./sbin/db_updater/ -v -c`, but has persisted after a full re-import `./sbin/db_updater/ -v -c -f`)
I'd thought that this might be an issue wi

[2018-04-26 11:14] PidgeyL commented on #278
I would need to double-check, but I think this info may not always be available in the xml feeds used for the input.

[2018-04-26 15:57] Khabbar commented on #272
Yes is up and running on localhost

[2018-04-30 10:02] ghost opened #279 "Implement the free text search mode in the api"
Would it be possible to implement the the free text search in vulnerability summary in the api ?

[2018-05-01 01:38] Patristo commented on #278
Thanks for the response. As far as I could see, the xml feed my cve-search was using had the "cvss:generated-on-datetime" field present for the affected CVEs (unless the xml feed is cached somewhere I'm unaware of?). I was unable to identify the cause after poking around, but have yet to trace through the entire execution of the script.
DatabaseLayer.updateCVE was somewhat concerning to me in that

[2018-05-03 09:33] PidgeyL commented on #279
Should already be built in:

    test          https://cve.northernsec.eu/api/search/poodle
    production    https://cve.circl.lu/api/search/poodle

[2018-05-03 10:16] Khabbar commented on #279
It seems to be possible with the circl's api but not with cve-search's api .

``# /api/search/<vendor>/<path:product>
  @api
  def api_search(self, vendor=None, product=None):
    if not (vendor and product): return {}
    search = vendor + ":" + product
    # Not using query.cvesForCPE, because that one gives too much info
    #return json.dumps(db.cvesForCPE(search), default=json_util.default)

[2018-05-03 13:09] PidgeyL commented on #279
https://github.com/cve-search/cve-search/blob/1bec56989baae4a630afdf7edd63663fe3e3c2bd/web/api.py#L83-L84

https://github.com/cve-search/cve-search/blob/1bec56989baae4a630afdf7edd63663fe3e3c2bd/web/api.py#L282-L284

[2018-05-03 13:14] Khabbar commented on #279
It is indeed already implemented, but whenever i try to query a product by name I get an AttributeError:

```'NoneType' object has no attribute 'get'```

It seems to be coming from the getSearchResults function in lib/DatabaseLayer.py (line 188):

```for vLink in getInfo('via4').get('searchables', []):```

The call to getInfo() returns None.

[2018-05-04 08:28] PidgeyL commented on #279
Was full-text search enabled on the mongo databasse?

[2018-05-04 08:35] Khabbar commented on #279
I am not sure. Is there a way I can check if it is enable ?

[2018-05-04 08:40] PidgeyL commented on #279
Run the following command within the mongo shell:

    db.adminCommand({"setParameter": 1, "textSearchEnabled":true})

You'll see from the output if it was already enabled or not. If it wasn't, it will be after the command

[2018-05-04 08:59] Khabbar commented on #279
The full-text-search was already enabled. The command returns:

```{ "was" : true, "ok" : 1 }```

[2018-05-19 07:41] ryhoo2 opened #280 ""Vulnerable Configurations" field not populated properly"
I noticed this field does not get all the values comparing to original entry in NVD. I was trying to search vulnerabilities for OpenSSH 6.7 and I found that instead of 18 ([NVD search](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Aopenbsd&cpe_product=cpe%3A%2F%3Aopenbsd%3Aopenssh&cpe_version=cpe%3A%2F%3Aopenbsd%3Aopenssh%3A

[2018-06-07 12:32] PidgeyL opened #281 "License Change"
We would like to change the license from Modified BSD to AGPL. Could all contributors (mentioned below) give their opinion? I'll keep track in this post, but please make a post here too.

I'm limiting this to only the code contributors, not documentation/spelling/etc

| User | State | Time
| --- | --- | --- |
| @pidgeyl | Approved | 7th of June 2018 |
| @adulau | Approved | 7th of June 2018 |
| @I

[2018-06-07 12:33] mathrock commented on #281
I support the license change.

[2018-06-07 15:38] rmarsollier commented on #281
Ack for me.

[2018-06-07 17:15] vladkharbash opened #282 "Support for JSON CVE / CPE feeds"
Any plans to change the XML to JSON feeds? The JSON feeds are supporting more data including V3 scoring, etc.

[2018-06-07 19:14] adulau commented on #281
I fully support the change of license to AGPL version 3 or later version.

[2018-06-07 19:16] adulau commented on #282
Indeed, it's a work in progress.

[2018-06-07 19:23] vladkharbash commented on #282
Cool. That is a great news. What is a timeframe for this enhancement?

[2018-06-08 02:57] Patristo opened #283 "db_updater.py ModuleNotFoundError when running with virtualenv python"
ModuleNotFoundError occurs when running db_updater.py using a python executable located in a virtualenv.
e.g.
``./venv/bin/python3 ./sbin/db_updater.py -c``

Note, this isn't running from inside a virtualenv shell, but using the python executable directly.
(The current python executable accesses all the dependencies in the virtualenv, but doesn't place itself in $PATH for subprocesses).

Fixed by

[2018-06-08 04:46] #283 closed

[2018-06-08 10:27] wimremes commented on #281
I'm ok with the proposed change.

[2018-06-08 10:31] chervaliery commented on #281
It's ok for me.

[2018-06-08 12:12] IrootGeek commented on #281
It's ok for me.

[2018-06-26 11:33] misterk72 commented on #272
I have the same problem on a mongodb version 2.4.14 and pymongo version 2.5.2-6 in Fedora 21.
 It comes from the MongoClient() function of pymongo not supporting the "connect=False" argument.
I fried to fix this by removing the connect=False parameter in Config.py.
The populate goes further but ends up with an error:

``Database population started
Importing CVEs for year 2002
Importing CVEs for ye

[2018-06-26 11:48] PidgeyL commented on #272
I've, during my development, used both 2.2, 2.4 and currently 2.6, so that's not the issue.
More likely, it's a pymongo issue. Can you tell me which version you're running?

[2018-06-26 11:59] misterk72 commented on #272
I fixed this by uninstalling the python3-pymongo RPM package:
$ sudo yum delete python3-pymongo
then installing a specific version of pymongo:
$ sudo pip3 install pymongo==3.5.3

The version 2.5.2 of pymongo seems to have been the faulty indeed.
Thanks for the reply PidgeyL.

[2018-06-26 12:38] PidgeyL commented on #272
Most welcome :) @Khabbar, can you confirm your version as well?

[2018-06-29 08:30] jbmaillet commented on #281
Yes, OK with me.

[2018-06-29 09:18] Khabbar commented on #272
Hey, sorry for the late answer.

I encountered this problem when I first tried to populate the db using python3-pymongo version 2.7.2-1 on Debian jessie.
I am managed to solve the issue by updating to the backport's version (python3-pymongo 3.0.3-1).
I am now using python3-pymongo version 3.4.0-1 on Debian stretch, and it works perfectly.

[2018-07-10 12:30] Khabbar commented on #279
Hey, the via4 collection can be populated by executing by doing:

``./sbin/db_mgmt_ref.py``

[2018-07-10 15:00] tinayihe commented on #279
Thanks so much for your help. I'm now trying to execute ./sbin/db_mgmt_ref.py
But I get an exception of "MemoryError", I am trying to solve it out.

[2018-07-17 17:04] misterk72 commented on #191
With the commit ce0be62a6379b7bbc95a9094d27b82860c583199 this issue is still present.
With the following query on the DB I can count the number of cvss fields that are strings:
``> db.cves.find({ "cvss": { $exists: true, $not: { $gte:0}, $ne: null }}, {"id": 1, "cvss": 1, "_id": 0}).count();
70``

[2018-07-19 12:17] cecio opened #287 "search.py clarification"
Hello.
I'd like to have a quick clarification about two options in the search.py command:

  -f F        F = free text search in vulnerability summary
  -s S        search in summary text

it's not clear why if I run the command

index.py -s juniper
index.py -f juniper

I obtain different results, with different CVE reported. I'd expect to have the same...

Thanks a lot for your help!

[2018-07-23 09:54] cecio commented on #287
I did a bit of testing, and now it's more clear:

I have mongodb 2.6.12 installed. If I use the "-f" option, I saw that the result is limited to 100 docs. I'm not an expert of mongodb (not at all to tell the true), but I tried to do the following in

lib/DatabaseLayer.py

 in def getFreeText(text): I saw that there was two different versions of the search. I used the "colCVE.find" also for the "Be

[2018-07-27 11:12] rvaughan opened #288 "db_updater failing to update via4 feed info"
Running the command './sbin/db_updater.py -i -v' I can see on the output the following error:

"Cannot open url https://www.cve-search.org/feeds/via4.json. Bad URL or not connected to the internet?"

Trying to visit that URL in Chrome shows that the HTTP/S certificate for the website has expired.

I guess this might not be the correct place to report this, but I figured someone attached to this pr

[2018-07-27 16:11] adulau commented on #288
Good catch! It's fixed. Thank you.

[2018-07-27 16:11] #288 closed

[2018-08-02 00:33] driechers commented on #282
@adulau I believe the switch to JSON is critical. I've found that this tool misses several CVEs because of a flaw in the 2.0 CVE data feeds. The 2.0 feed does not indicate whether previous versions are affected and thousands of CVEs link only to one CPE even when a range are affected. This can be seen with the following example.

Below is the 2.0 data note how it does not indicate that pervious ve

[2018-08-07 08:57] adulau commented on #280
This is a very good question. Digging with @Alexandre-Bartel, it seems NIST is doing some magic on their website with the "up-to". We checked the raw data in the dump (the new JSON) and we cannot find the interpretation of the "up-to". Now the question is the following:

- Is the NIST NVD export missing some data?
- or NIST is doing an interpretation of the CPE format at some stage?

[2018-08-08 18:06] ryhoo2 commented on #280
I tested the '--lax' option and it does some good for items with "up to" lists on NVD page, but it adds false-positives on items that have a "fixed" list of vulnerable configurations.

These 2 examples below are for Apache HTTPD 2.4.6. There are 2 CVEs: one has "up to" item on the list (see [NVD](https://nvd.nist.gov/vuln/detail/CVE-2018-1303/cpes?expandCpeRanges=true)) and the other does not (has

[2018-08-09 10:34] Vitolog opened #290 "Problems with db_mgmt_cpe_dictionary"
I've installed cve-search and I'm following the installation procedure written in the readme.md
I've installed al requirements and the following commands
[code]
The first one goes well but the second one seems blocked after the preparing phase:
`Preparing[##########################...########]151090/151090`
I've waited for half an hour without any results.
My configuration:

- Latest CVE-Search

-

[2018-08-09 12:13] PidgeyL commented on #290
basically, wait... The initial import can take a long time, depending on your hardware. On my travel laptop, with poor hardware, even though it has an SSD, it can take up to two or three hours, so I generally leave it overnight

[2018-08-10 15:34] #290 closed

[2018-08-10 15:44] Vitolog opened #291 "search.py is not able to find several CVE"
I don't know if it is a iusse or a misconfiguration from my side, but I've tried the following commands:
`./bin/search.py -p dnsmasq:2.68`
No results are found, but if you look for the following [CVE](https://nvd.nist.gov/vuln/detail/CVE-2017-14492) you'll find a list of affected [CPE](https://nvd.nist.gov/vuln/detail/CVE-2017-14492/cpes?expandCpeRanges=true): that dnsmasq version is listed in the

[2018-08-13 17:28] ryhoo2 commented on #280
Thanks for clarification!13.08.2018 2:23 PM Alexandre-Bartel <notifications@github.com> napisał(a):The 'up to' information is not yet taken into account because cve-search currently relies on the XML feed. I have asked NIST about this. They say that the XML feed will probably not be updated with new fields such as 'up to'. As mentioned in #282 is it thus critical for cve-search to rely on the JSON

[2018-08-15 14:14] s0i37 opened #292 "CWE output in results"
Hello.
May be I do something wrong... But if I use searching like this:
`bin/search.py -p vendor:product:version`
I wont get CWE. But in case:
`bin/search.py -f sometext`
all works fine.

[2018-08-17 14:26] PidgeyL commented on #292
What do you mean with "I won't get CWE"? Do you mean CVE?

I just tested, and I don't want to be that guy, but... "works for me".
Which vendor:product:version do you use? Might help me debug

[2018-08-20 11:33] s0i37 commented on #292
No. I mean "CWE" - common weakness enumeration. It is like a type of vulnerability, for example CWE-20 -  improper input validation.
For example I want to filter just this type of vulnerabilities (Improper Input Validation):
`bin/search.py -p apache:http_server:2.4.17 | grep -i cwe-20`
Above will not work.
However I noticed that json-output has "CWE" entry. And here is solve of my problem:
`cvesea

[2018-08-20 11:33] #292 closed

[2018-08-20 13:03] PidgeyL commented on #292
Aah, gotcha. Yes, indeed. I misunderstood the question :)

[2018-08-21 06:07] soham637 opened #293 "WSGI server deployment"

[2018-08-21 14:43] PidgeyL commented on #242
@soham637 you can change this in the config file (/etc/configuration.ini). you can look at the example (/etc/configuration.ini.sample) to have a clear overview of all the options. The ones you'll want to change are:

    [Webserver]
    Host: 127.0.0.1
    Port: 5000

[2018-08-22 08:19] soham637 commented on #242
@PidgeyL Thank you so much for the quick reply, I tried doing what you said but there is no configuration.ini file in /etc. so i copied the sample and created the .ini file, but
![configuration ini](https://user-images.githubusercontent.com/42433717/44451635-ef0c0f80-a611-11e8-9bf4-48f564c3f806.png). It is showing the error

Use a production WSGI server instead.
 * Debug mode: on
Traceback (most r